<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="testimonial-area">
                    <!-- Start Service Title -->
                    <div class="section-heading">
                        <h2>What our patients said</h2>
                        <div class="line"></div>
                    </div>
                    <div class="testimonial-area">
                        <ul class="testimonial-nav">
                            <li>
                                <div class="single-testimonial">
                                    <div class="testimonial-img">
                                        <img src="~/Content/images/patients-3.jpg" alt="img">
                                    </div>
                                    <div class="testimonial-cotent">
                                        <p class="testimonial-parg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.There are many variations of passages of Lorem Ipsum available.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-testimonial">
                                    <div class="testimonial-img">
                                        <img src="~/Content/images/patients-1.jpg" alt="img">
                                    </div>
                                    <div class="testimonial-cotent">
                                        <p class="testimonial-parg">There are many variations of passages of Lorem Ipsum available.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-testimonial">
                                    <div class="testimonial-img">
                                        <img src="~/Content/images/patients-2.jpg" alt="img">
                                    </div>
                                    <div class="testimonial-cotent">
                                        <p class="testimonial-parg">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.There are many variations of passages of Lorem Ipsum available.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
