
@{
    ViewBag.Title = "Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Html.RenderPartial("header");
}


<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.material.mobile.min.css" />

<script src="https://kendo.cdn.telerik.com/2017.1.118/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>



<script type="text/javascript">
    var dSource = "";
    $(document).ready(function () {
        debugger;



        dSource = new kendo.data.DataSource({
            pageSize: 5,
            transport: {
                read: {
                    dataType: "json",
                    crossDomain: true,
                    url: "http://localhost:64181/doctors",
                    type: "GET",
                }
            },
        });


        $("#countries").kendoAutoComplete({
            dataSource: dSource,
            filter: "startswith",
            placeholder: "Select country...",
            separator: ", "
        });


        var pager = $("#pager").kendoPager({
            dataSource: dSource
        }).data("kendoPager");


        $("#listView").kendoListView({
            dataSource: dSource,
            template: kendo.template($("#template").html())
        });




    


    });

    $(document).on('click', '#btnConnRequest', function (e) {

        $('#lblerr').text('');

        var doc_id; 
        var template;
       // var id1 = '@ViewBag.Providerid';
        DocID = $(e.target).data('doc_id');
        

        
        $.ajax({
            type: "POST",
            url:"",
            crossDomain: true,
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(refr),
            beforeSend: function (xhr) {
                $('#loading2').show();

                if (localStorage['access_token'] != undefined) {
                    xhr.setRequestHeader("Authorization", " Bearer " + localStorage['access_token']);
                }

            },
            success: function (data) {
                $('#loading2').hide();
                $('#lblerr').text('Invite Request sent successfully');
                $("html, body").animate({ scrollTop: 0 }, "slow");
            },
            error: function (xhr, status, error) {
                $('#loading2').hide();
                var strng = xhr.responseText;
                strng = strng.replace("Message", "").replace("{", "").replace(":", "").replace("}", "").replace(/"/g, "");
                alert(strng);

                return;
            },
            failure: function (response) {
                $('#loading2').hide();
                $('#lblerr').text('Request cannot be proceed.');
                $("html, body").animate({ scrollTop: 0 }, "slow");
            }
        })
        bindDrp();
    });

</script>


<h2>Doctor</h2>

<section id="blogArchive">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="blog-breadcrumbs-area">
                <div class="container">
                    <div class="blog-breadcrumbs-left">
                        <h2>Doctor</h2>
                    </div>
                    <div class="blog-breadcrumbs-right">
                        <ol class="breadcrumb">
                            <li>You are here</li>
                            <li><a href="#">Home</a></li>
                            <li class="active">Doctor</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="row" >
    <input type="text" ng-model="searchBox" />
    <ul>
        <li ng-repeat="item in dSource | filter:searchBox">
{{ item.DocId}}
        </li>
    </ul>
</div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- Start Blog Archive Area -->
                        <div class="blogArchive-area">
                            <div class="row">
                                <!-- Start left Side bar -->
                                <div class="col-md-3 col-sm-4">
                                    <aside class="sidebar">
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h3>Latest Posts</h3>
                                            <ul class="popular-tab">
                                                <li>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#" class="news-img">
                                                                <img alt="img" src="~/Content/images/small-blog-img1.jpg" class="media-object">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <a href="blog-single.html">Dummy text of the Medical Post</a>
                                                            <span class="feed-date">27.02.15</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#" class="news-img">
                                                                <img alt="img" src="~/Content/images/small-blog-img2.jpg" class="media-object">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <a href="blog-single.html">Dummy text of the Medical Post</a>
                                                            <span class="feed-date">28.02.15</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#" class="news-img">
                                                                <img alt="img" src="~/Content/images/small-blog-img1.jpg" class="media-object">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <a href="#">Dummy text of the Medical Post</a>
                                                            <span class="feed-date">28.02.15</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h3>Most Viewed</h3>
                                            <ul class="popular-tab">
                                                <li>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#" class="news-img">
                                                                <img alt="img" src="~/Content/images/small-blog-img1.jpg" class="media-object">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <a href="blog-single.html">Dummy text of the Medical Post</a>
                                                            <span class="feed-date">27.02.15</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#" class="news-img">
                                                                <img alt="img" src="~/Content/images/small-blog-img2.jpg" class="media-object">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <a href="blog-single.html">Dummy text of the Medical Post</a>
                                                            <span class="feed-date">28.02.15</span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <a href="#" class="news-img">
                                                                <img alt="img" src="~/Content/images/small-blog-img1.jpg" class="media-object">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <a href="#">Dummy text of the Medical Post</a>
                                                            <span class="feed-date">28.02.15</span>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h3>Tags</h3>
                                            <ul class="tag-nav">
                                                <li><a href="#">Dental</a></li>
                                                <li><a href="#">Surgery</a></li>
                                                <li><a href="#">Pediatric</a></li>
                                                <li><a href="#">Cardiac</a></li>
                                                <li><a href="#">Ophthalmology</a></li>
                                                <li><a href="#">Diabetes</a></li>
                                            </ul>
                                        </div>
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h3>Text Widget</h3>
                                            <p>This is text widget of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly <a href="#">believable</a></p>
                                        </div>
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h3>Archives</h3>
                                            <ul class="archives">
                                                <li><a title="May 2015" href="#">May 2015<span>2</span></a></li>
                                                <li><a title="April 2015" href="#">April 2015<span>5</span></a></li>
                                                <li><a title="March 2015" href="#">March 2015<span>10</span></a></li>
                                            </ul>
                                        </div>
                                        <!-- Start sidebar widget -->
                                        <div class="sidebar-widget">
                                            <h3>Categories</h3>
                                            <ul>
                                                <li><a href="#"><span class="fa fa-angle-right"></span>Dental</a></li>
                                                <li><a href="#"><span class="fa fa-angle-right"></span>Surgery</a></li>
                                                <li><a href="#"><span class="fa fa-angle-right"></span>Pediatric</a></li>
                                                <li><a href="#"><span class="fa fa-angle-right"></span>Cardiac</a></li>
                                                <li><a href="#"><span class="fa fa-angle-right"></span>Ophthalmology</a></li>
                                                <li><a href="#"><span class="fa fa-angle-right"></span>Diabetes</a></li>
                                            </ul>
                                        </div>
                                    </aside>
                                </div>
                                <!-- Start Blog Content -->
                                <div class="col-md-6 col-sm-6">
                                  
                                    <div class="blog-content">
                                        <div id="listView"></div>
                                        <div id="pager" class="k-pager-wrap"></div>

                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                        
                                            <div class="single-blog-right">
                                                <div class="blog-img">
                                                    <figure class="blog-figure">
                                                        <a href="#"><img alt="img" src="~/Content/images/gallery/icon.jpg"></a>
                                                        <span class="image-effect"></span>
                                                    </figure>
                                                </div>
                                                <div class="blog-author">
                                                    <ul>
                                                        <li>By <a href="#">Dr. Smith</a></li>
                                                        <li>In <a href="#">Dental</a></li>
                                                    </ul>
                                                </div>
                                                <div class="blog-content">
                                                    <h2>Latest Trend Of Medical Dental Department</h2>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                                    <!-- Read more btn -->
                                                    <a class="wpcf7-submit button--itzel" href="#">
                                                        <i class="button__icon fa fa-link"></i>
                                                        <span>Read More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                        
                                            <div class="single-blog-right">
                                                <div class="blog-img">
                                                    <figure class="blog-figure">
                                                        <a href="#"><img alt="img" src="~/Content/images/gallery/icon (1).jpg"></a>
                                                        <span class="image-effect"></span>
                                                    </figure>
                                                </div>
                                                <div class="blog-author">
                                                    <ul>
                                                        <li>By <a href="#">Dr. Smith</a></li>
                                                        <li>In <a href="#">Dental</a></li>
                                                    </ul>
                                                </div>
                                                <div class="blog-content">
                                                    <h2>Latest Trend Of Medical Dental Department</h2>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                                    <!-- Read more btn -->
                                                    <a class="wpcf7-submit button--itzel" href="#">
                                                        <i class="button__icon fa fa-link"></i>
                                                        <span>Read More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                          
                                            <div class="single-blog-right">
                                                <div class="blog-img">
                                                    <figure class="blog-figure">
                                                        <a href="#"><img alt="img" src="images/9.jpg"></a>
                                                        <span class="image-effect"></span>
                                                    </figure>
                                                </div>
                                                <div class="blog-author">
                                                    <ul>
                                                        <li>By <a href="#">Dr. Smith</a></li>
                                                        <li>In <a href="#">Dental</a></li>
                                                    </ul>
                                                </div>
                                                <div class="blog-content">
                                                    <h2>Latest Trend Of Medical Dental Department</h2>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                                    <!-- Read more btn -->
                                                    <a class="wpcf7-submit button--itzel" href="#">
                                                        <i class="button__icon fa fa-link"></i>
                                                        <span>Read More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Start Single Blog -->
                                        <div class="single-Blog">
                                            <div class="single-blog-left">
                                                <ul class="blog-comments-box">
                                                    <li>May <h2>10</h2>2015</li>
                                                    <li><span class="fa fa-eye"></span>1523</li>
                                                    <li><a href="#"><span class="fa fa-comments"></span>5</a></li>
                                                </ul>
                                            </div>
                                            <div class="single-blog-right">
                                                <div class="blog-img">
                                                    <figure class="blog-figure">
                                                        <a href="#"><img alt="img" src="images/9.jpg"></a>
                                                        <span class="image-effect"></span>
                                                    </figure>
                                                </div>
                                                <div class="blog-author">
                                                    <ul>
                                                        <li>By <a href="#">Dr. Smith</a></li>
                                                        <li>In <a href="#">Dental</a></li>
                                                    </ul>
                                                </div>
                                                <div class="blog-content">
                                                    <h2>Latest Trend Of Medical Dental Department</h2>
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                                    <!-- Read more btn -->
                                                    <a class="wpcf7-submit button--itzel" href="#">
                                                        <i class="button__icon fa fa-link"></i>
                                                        <span>Read More</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Start blog pagination  -->
                                        <div class="blog-pagination">
                                            <nav>
                                                <ul class="pagination">
                                                    <li>
                                                        <a href="#" aria-label="Previous">
                                                            <span class="fa fa-angle-left"></span>
                                                        </a>
                                                    </li>
                                                    <li><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">5</a></li>
                                                    <li>
                                                        <a href="#" aria-label="Next">
                                                            <span class="fa fa-angle-right"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>

<div class="col-md-2 col-sm-2">
    <iframe  height="315" src="https://www.youtube.com/embed/SGaQ0WwZ_0I" frameborder="0" allowfullscreen></iframe>
</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/x-kendo-tmpl" id="template">




    <div class="single-Blog">
        

        <div class="single-blog-right">
            <div class="blog-img">
                <figure class="blog-figure">
                    <img src="../Content/images/9.jpg" style="height:170px;width:170px"   />
                    <span class="image-effect"></span>
                </figure>

            </div>
            <div class="blog-author">
                <ul>
                    <li>
                        <a></a>
                    </li>
                    <li>${first_name}</li>
                </ul>
            </div>

            <div class="blog-content">
                <h2>Latest Trend Of Medical Dental Department</h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>

            </div>
            <a href='../Doctor?DocID=${doc_id}'>View Profile</a>
        </div>


    </div>
















</script>
<style>
    
    .single-Blog {
        float: left;
        display: inline;
        width: 100%;
    }

    .single-blog-left {
        float: left;
        display: inline;
        width: 18%;
    }

    blog-comments-box li {
        border-bottom: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        color: #aaa;
        display: block;
        float: left;
        padding: 15px;
        text-align: center;
        width: 100%;
    }

    .blog-comments-box li:last-child {
        border-bottom: none;
    }

    .blog-comments-box li > h2 {
        font-size: 33px;
        line-height: 32px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .blog-comments-box li span {
        display: block;
        font-size: 16px;
    }

    .blog-comments-box li > a {
        color: #aaa;
        text-decoration: none;
    }


    .single-blog-right {
        float: right;
        display: inline;
        width: 78%;
    }

    .blog-img {
        float: left;
        display: inline;
        width: 100%;
    }

        .blog-img img {
            width: 100%;
        }

    figure.blog-figure {
        /*background: #3498db;*/
    }

        figure.blog-figure img {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
            filter: alpha(opacity=95);
            opacity: 0.95;
            -moz-transition: opacity 0.35s, -moz-transform 0.35s;
            -o-transition: opacity 0.35s, -o-transform 0.35s;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -moz-transition: opacity 0.35s, -moz-transform 0.35s;
            -o-transition: opacity 0.35s, -o-transform 0.35s;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -moz-transform: scale3d(1.05, 1.05, 1);
            -ms-transform: scale3d(1.05, 1.05, 1);
            -o-transform: scale3d(1.05, 1.05, 1);
            -webkit-transform: scale3d(1.05, 1.05, 1);
            transform: scale3d(1.05, 1.05, 1);
        }

        figure.blog-figure:hover img {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-transform: scale3d(1, 1, 1);
            -ms-transform: scale3d(1, 1, 1);
            -o-transform: scale3d(1, 1, 1);
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }

    .blog-img figure {
        background: none repeat scroll 0 0 #3085a3;
        cursor: pointer;
        float: left;
        height: auto;
        overflow: hidden;
        position: relative;
        text-align: center;
    }

        .blog-img figure img {
            position: relative;
            display: block;
            min-height: 100%;
            max-width: 100%;
            opacity: 0.8;
        }

    figure.blog-figure .image-effect::before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
        -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
        -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
        -moz-transition: -moz-transform 0.6s ease 0s;
        -o-transition: -o-transform 0.6s ease 0s;
        -webkit-transition: -webkit-transform 0.6s ease 0s;
        transition: transform 0.6s ease 0s;
        width: 100%;
    }

    figure.blog-figure:hover .image-effect::before {
        -moz-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
        -ms-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
        -o-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    }

    .blog-author {
        display: inline;
        float: left;
        padding: 10px 0;
        width: 100%;
    }

        .blog-author > ul > li {
            display: inline-block;
            padding: 5px;
            color: #aaa;
        }

    .blog-content {
        float: left;
        display: inline;
        width: 100%;
    }

        .blog-content > h2 {
            font-size: 18px;
            line-height: 25px;
        }

        .blog-content .readmore_area a {
            font-size: 14px;
            margin-left: 0;
        }

            .blog-content .readmore_area a::before {
                padding: 8px 13px;
            }

            .blog-content .readmore_area a span {
                padding: 8px 13px;
            }

        .blog-content .readmore_area {
            margin-top: 25px;
        }

        .blog-content .button--itzel {
            text-align: center;
            width: 170px;
        }

    .button--itzel {
        border: none;
        padding: 0px;
        overflow: hidden;
        width: 255px;
    }

    .wpcf7-submit {
        float: left;
        min-width: 150px;
        max-width: 250px;
        font-weight: 600;
        display: block;
        margin: 1em;
        padding: 1em 2em;
        border: none;
        background: none;
        color: inherit;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        -webkit-backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
    }

    .button--itzel .button__icon {
        background-color: #fff;
        position: absolute;
        top: 104%;
        left: 50%;
        padding: 20px;
        font-size: 20px;
    }

    .button--itzel {
        border: none;
        padding: 0px;
        overflow: hidden;
        width: 255px;
    }

        .button--itzel::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            -webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
            clip-path: url(../index.html#clipBox);
            -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
            transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
            -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
        }

        .button--itzel.button--border-thin::before {
            border: 1px solid;
            -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
            transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
        }

        .button--itzel.button--border-thick::before {
            border: 3px solid;
            -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
            transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
        }

        .button--itzel::before,
        .button--itzel .button__icon {
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
            transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        }

        .button--itzel .button__icon {
            background-color: #fff;
            position: absolute;
            top: 104%;
            left: 50%;
            padding: 20px;
            font-size: 20px;
            -moz-transform: translate3d(-50%, 0, 0);
            -ms-transform: translate3d(-50%, 0, 0);
            -o-transform: translate3d(-50%, 0, 0);
            -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
        }

        .button--itzel > span {
            display: block;
            padding: 20px;
            -moz-transition: -moz-transform 0.3s, opacity 0.3s;
            -o-transition: -o-transform 0.3s, opacity 0.3s;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
            transition: transform 0.3s, opacity 0.3s;
            -moz-transition: -moz-transform 0.3s, opacity 0.3s;
            -o-transition: -o-transform 0.3s, opacity 0.3s;
            -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
            transition: transform 0.3s, opacity 0.3s;
            -moz-transition-delay: 0.3s;
            -o-transition-delay: 0.3s;
            -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
        }

        .button--itzel:hover::before {
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        .button--itzel:hover .button__icon {
            -moz-transition-delay: 0.1s;
            -o-transition-delay: 0.1s;
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
            -moz-transform: translate3d(-50%, -100%, 0);
            -ms-transform: translate3d(-50%, -100%, 0);
            -o-transform: translate3d(-50%, -100%, 0);
            -webkit-transform: translate3d(-50%, -100%, 0);
            transform: translate3d(-50%, -100%, 0);
        }

        .button--itzel:hover > span {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            -moz-transform: translate3d(0, -50%, 0);
            -ms-transform: translate3d(0, -50%, 0);
            -o-transform: translate3d(0, -50%, 0);
            -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
            -moz-transition-delay: 0s;
            -o-transition-delay: 0s;
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }
</style>