@{
    ViewBag.Title = "Home Page";
}


@{
    Html.RenderPartial("header");
}


 <!--=========== BEGIN SLIDER SECTION ================-->
<section id="sliderArea">
    <!-- Start slider wrapper -->
    <div class="top-slider">
        <!-- Start First slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/Content/images/14.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>An <strong>Excellent Theme</strong> for your Health Related Project</h2>
                <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
                <div class="readmore_area">
                    <a data-hover="Read More" href="#"><span>Read More</span></a>
                </div>
            </div>
        </div>
        <!-- End First slide -->
        <!-- Start 2nd slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/Content/images/15.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2><strong>Best Template</strong> For your Medical Website</h2>
                <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
                <div class="readmore_area">
                    <a data-hover="Read More" href="#"><span>Read More</span></a>
                </div>
            </div>
        </div>
        <!-- End 2nd slide -->
        <!-- Start Third slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/Content/images/7.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>An <strong>Excellent Theme</strong> for your Health Related Project</h2>
                <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
                <div class="readmore_area">
                    <a data-hover="Read More" href="#"><span>Read More</span></a>
                </div>
            </div>
        </div>
        <!-- End Third slide -->
        <!-- Start Fourth slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/Content/images/12.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2><strong>Best Template</strong> For your Medical Website</h2>
                <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
                <div class="readmore_area">
                    <a data-hover="Read More" href="#"><span>Read More</span></a>
                </div>
            </div>
        </div>
        <!-- End Fourth slide -->
        <!-- Start Fifth slide -->
        <div class="top-slide-inner">
            <div class="slider-img">
                <img src="~/Content/images/9.jpg" alt="">
            </div>
            <div class="slider-text">
                <h2>An <strong>Excellent Theme</strong> for your Health Related Project</h2>
                <p><strong>WpF Medinova</strong> Theme suitable for any health and medical related projets or business</p>
                <div class="readmore_area">
                    <a data-hover="Read More" href="#"><span>Read More</span></a>
                </div>
            </div>
        </div>
        <!-- End Fifth slide -->
    </div><!-- /top-slider -->
</section>
<!--=========== END SLIDER SECTION ================-->
<!--=========== BEGIN Top Feature SECTION ================-->

@{
    Html.RenderPartial("Feature");
}


<!--=========== END Top Feature SECTION ================-->
<!--=========== BEGIN Service SECTION ================-->

@{
    Html.RenderPartial("service");
}


<!--=========== End Service SECTION ================-->
<!--=========== BEGAIN Why Choose Us SECTION ================-->
<section id="whychooseSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="service-area">
                    <!-- Start Service Title -->
                    <div class="section-heading">
                        <h2>Why Choose Us</h2>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                        <div class="whyChoose-left">
                            <div class="whychoose-slider">
                                <div class="whychoose-singleslide">
                                    <img src="~/Content/images/choose-us-img1.jpg" alt="img">
                                </div>
                                <div class="whychoose-singleslide">
                                    <img src="~/Content/images/choose-us-img2.jpg" alt="img">
                                </div>
                                <div class="whychoose-singleslide">
                                    <img src="~/Content/images/choose-us-img3.jpg" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                        <div class="whyChoose-right">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="media-icon">
                                        <span class="fa fa-hospital-o"></span>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Great Infrastructure</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="media-icon">
                                        <span class="fa fa-user-md"></span>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Qualified Doctors</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left">
                                    <a href="#" class="media-icon">
                                        <span class="fa fa-ambulance"></span>
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Emergency Support</h4>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== END Why Choose Us SECTION ================-->
<!--=========== BEGAIN Counter SECTION ================-->

@{
    Html.RenderPartial("Count");
}


<!--=========== End Counter SECTION ================-->
<!--=========== BEGAIN Doctors SECTION ================-->
<section id="meetDoctors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="meetDoctors-area">
                    <!-- Start Service Title -->
                    <div class="section-heading">
                        <h2>Meet Our Doctors</h2>
                        <div class="line"></div>
                    </div>
                    <div class="doctors-area">
                        <ul class="doctors-nav">
                            <li>
                                <div class="single-doctor">
                                    <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                        <figure>
                                            <img src="~/Content/images/doctor-1.jpg" />
                                            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                            <figcaption>
                                                <h2>Dr. Yvonne Cadiline</h2>
                                                <p>Pediatric Clinic</p>
                                                <button>View</button>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <div class="single-doctor-social">
                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/Content/images/doctor-2.jpg" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>DR. Jack Johnson</h2>
                                                    <p>Rehabilitation Therapy</p>
                                                    <button>View</button>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/Content/images/doctor-3.jpg" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>Dr. Vanessa Smouic</h2>
                                                    <p>Cardiac Clinic</p>
                                                    <button>View</button>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/Content/images/doctor-4.jpg" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>Dr. David Gresshoff</h2>
                                                    <p>Laryngological Clinic</p>
                                                    <button>View</button>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                        <figure>
                                            <img src="~/Content/images/doctor-1.jpg" />
                                            <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                            <figcaption>
                                                <h2>Dr. Yvonne Cadiline</h2>
                                                <p>Pediatric Clinic</p>
                                                <button>View</button>
                                            </figcaption>
                                        </figure>
                                    </a>
                                    <div class="single-doctor-social">
                                        <a href="#"><span class="fa fa-facebook"></span></a>
                                        <a href="#"><span class="fa fa-twitter"></span></a>
                                        <a href="#"><span class="fa fa-google-plus"></span></a>
                                        <a href="#"><span class="fa fa-linkedin"></span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/Content/images/doctor-2.jpg" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>DR. Jack Johnson</h2>
                                                    <p>Rehabilitation Therapy</p>
                                                    <button>View</button>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/Content/images/doctor-3.jpg" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>Dr. Vanessa Smouic</h2>
                                                    <p>Cardiac Clinic</p>
                                                    <button>View</button>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="single-doctor">
                                    <div class="single-doctor">
                                        <a class="tdoctor" href="#" data-path-hover="m 180,34.57627 -180,0 L 0,0 180,0 z">
                                            <figure>
                                                <img src="~/Content/images/doctor-5.jpg" />
                                                <svg viewBox="0 0 180 320" preserveAspectRatio="none"><path d="M 180,160 0,218 0,0 180,0 z" /></svg>
                                                <figcaption>
                                                    <h2>Dr. David Gresshoff</h2>
                                                    <p>Laryngological Clinic</p>
                                                    <button>View</button>
                                                </figcaption>
                                            </figure>
                                        </a>
                                        <div class="single-doctor-social">
                                            <a href="#"><span class="fa fa-facebook"></span></a>
                                            <a href="#"><span class="fa fa-twitter"></span></a>
                                            <a href="#"><span class="fa fa-google-plus"></span></a>
                                            <a href="#"><span class="fa fa-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== End Doctors SECTION ================-->
<!--=========== BEGAIN Testimonial SECTION ================-->

@{
    Html.RenderPartial("DoctorView");
}


<!--=========== End Testimonial SECTION ================-->
<!--=========== BEGAIN Home Blog SECTION ================-->

@{
    Html.RenderPartial("Blog");
}
<!--=========== End Home Blog SECTION ================-->
