
@{
    ViewBag.Title = "Cost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cost</h2>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>
        Sleeve Gastrectomy Cost in Delhi NCR, FAQs, Symptoms | Credihealth
    </title>
    <meta name="description" content="Get information details about  sleeve gastrectomy cost  in Delhi NCR. FAQs about Symptoms, find trusted hospitals and book appointment only on Credihealth" />
    <meta name="keywords" content=" sleeve gastrectomy in Delhi NCR, sleeve gastrectomy, cost of sleeve gastrectomy ">

    <meta name="robots" content="index, follow">

    <meta content="L+fLFn/E/601aENCSEoKV3FzGg1mGny6NgYmfEROT4M=" name="csrf-token">


    <link rel="canonical" href="https://www.credihealth.com/procedure/delhi-ncr/sleeve-gastrectomy/quote">

    <meta name="theme-color" content="#e6c200">

    <!-- only for search listing -->



    <meta name="distribution" content="Global">
    <meta http-equiv="Cache-control" content="public">

    <meta name="google" value="notranslate">

    <meta property="og:site_name" content="Credihealth">
    <meta property="og:site" content="www.credihealth.com">

    <meta property="og:image" content="asset_path('credihealth-favicon.png')">
    <meta property="og:type" content="website">

    <meta property="og:description" content="Get information details about  sleeve gastrectomy cost  in Delhi NCR. FAQs about Symptoms, find trusted hospitals and book appointment only on Credihealth">

    <meta property="og:title" content="Sleeve Gastrectomy Cost in Delhi NCR, FAQs, Symptoms | Credihealth">

    <meta property="og:url" content="https://www.credihealth.com/procedure/delhi-ncr/sleeve-gastrectomy/quote">

    <meta name="msvalidate.01" content="C6AB6FC69ED2A88E20462E53770748D6">

    <meta name="p:domain_verify" content="53c6027da9e2542b0e0464c1286bc083">

    <meta property="fb:app_id" content="400600743405293">

    <meta property="fb:page_id" content="567313199989914">

    <meta name="twitter:card" content="summary">

    

    <meta name="twitter:title" content="Sleeve Gastrectomy Cost in Delhi NCR, FAQs, Symptoms | Credihealth">

    <meta name="twitter:image" content="https://img3.credihealth.com/images/credihealth-favicon.png">

    <meta name="twitter:description" content="Get information details about  sleeve gastrectomy cost  in Delhi NCR. FAQs about Symptoms, find trusted hospitals and book appointment only on Credihealth">

    <meta itemprop="name" content="Sleeve Gastrectomy Cost in Delhi NCR, FAQs, Symptoms | Credihealth">

    <meta itemprop="description" content="Get information details about  sleeve gastrectomy cost  in Delhi NCR. FAQs about Symptoms, find trusted hospitals and book appointment only on Credihealth">

    <meta itemprop="image" content="asset_path('credihealth-favicon.png')">

    <meta name="alexaVerifyID" content="qJPgfR0Xx4EKlxB0uj4_0sdmKAI">

    <meta name="yandex-verification" content="69b33a9e477c1a3b">

    <meta name="csrf-param" content="authenticity_token">

    <meta name="csrf-token" content="j4IxDkyh+HeOREkvK1R1PDk2Q6qEqa1Y5MgIjw8fGFmkyB8X4FBzHLw43QapwoQOsVZaujdiOASRrjoCybSczQ==">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/credihealth-favicon-769080f91bb247ff809f53bf81e0b61b568b88640cd2c55058c18a9ff7c92abd.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="/assets/application-5943ea1db40ac2ca41b48acb861559b6f8ea9c0164b82aa8ab1c2641b5915eb9.js"></script>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="SYLkH8pyqUK8AO7CIPMRTKFkkhUiAbHmnHmJIBWEMFfHdoSll7WGbfsEw7P3TzOH30l+3mnfKuKUItX8XKSR2Q==" />

    <!--		<script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-44747249-1', 'auto');
          ga('send', 'pageview');
          -->
    <script type="text/javascript">

      var city = 'Delhi NCR';
      var isMobileDevice = 'no';
    </script>


    <link rel="manifest" href="/manifest.json">
    <script type="text/javascript" src="https://cdn.moengage.com/webpush/moe_webSdk.min.latest.js"></script>
    <script type="text/javascript"> Moengage = moe( { app_id: "W6SCRRT6KJF669NKRZ7VUGGL", debug_logs: 0 }); </script>



    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-P2CWXV');</script>
    <!-- End Google Tag Manager -->


</head>
<body oncopy="return false" oncut="return false">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2CWXV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-md-12 col-lg-12">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-2 col-lg-2">
                <a class="navbar-brand" href="/">
                    <img alt="Credihealth - The Healthcare Answer" src="/assets/new_credihealth_logo-f36c1140be98b2f20a0bb220428b30536dd9e7d655ba74b1b4704a9a7aa7dfb2.png" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-8 col-lg-8">
                <form class="navbar-form pull-left" role="form" data-toggle="validator_1" autocomplete="off" action="/search" accept-charset="UTF-8" method="get">
                    <input name="utf8" type="hidden" value="&#x2713;" />
                    <input type="hidden" name="type" id="type" value="doctors" />
                    <div class="form-group">
                        <input type="hidden" name="type" id="type" value="doctors" />
                        <input type="text" name="city" id="locSearch" value="Delhi NCR" class="form-control" />
                        <input type="text" name="q" id="txtSearch" value="" class="form-control header-search" placeholder="Search Doctor, Hospital, Speciality or Treatment" required="required" />
                        <div style="display:none;" id="search_results">
                            <div style="display:none" id="no_result"></div>
                            <div id="heading_docs" class="suggest_heading">
                                Doctors
                            </div>
                            <ul class="suggest_ul" id="auto_suggest_docs"></ul>
                            <div id="heading_hosps" class="suggest_heading"> Hospitals </div>
                            <ul class="suggest_ul" id="auto_suggest_hosps"></ul>

                            <div id="heading_procs" class="suggest_heading"> Procedures </div>
                            <ul class="suggest_ul" id="auto_suggest_procs"></ul>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-yellow form-control" style="width:100px;font-weight: bold;">SEARCH</button>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right col-md-2 col-lg-2">
                <li class=""><a href="/users/sign_in">Login</a></li>

            </ul>
            <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <style>
        .dropdown-menu {
            min-width: 38%;
        }

        .navbar-inverse {
            background-color: #373534 !important;
            border-color: #373534 !important;
        }
    </style>

    <div style="height:55px;"></div>
    <div style="min-width: 1260px; max-width: 1366; margin: 0 auto;">

        <div class="clearfix">
        </div>
        <div class="breadcrumb-container" style="padding-left: 3%; margin-top: 1%; margin-bottom: 1%;">
            <h5 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="/"><span itemprop="title">Home</span></a>
            </h5>
            <span class="no-margin pull-left">
                &nbsp;/&nbsp;
            </span>
            <h5 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="/procedures/all"><span itemprop='title'>Procedures</span></a>
            </h5>
            <span class="no-margin pull-left">
                &nbsp;/&nbsp;
            </span>
            <h5 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="/procedure/sleeve-gastrectomy/details"><span itemprop="title">Sleeve Gastrectomy</span></a>
            </h5>
            <span class="no-margin pull-left">
                &nbsp;/&nbsp;
            </span>
            <h5 class="no-margin pull-left">
                <span>Quote</span>
            </h5>
        </div>
        <div class="clearfix">
        </div>
        <div class="col-md-12" style="background-image: url(/assets/procedures-background-img-fdbb1eeb54d933389398d5ca0173cd9349a54658ed4d7939123c2cfb8a2ed15b.png); padding: 40px 0px;">
            <div class="clearfix"></div>

            <div class="col-md-offset-1 col-md-11">
                <div style="position:relative;">
                    <div class="col-md-offset-1 col-md-2">
                        <img src="https://cdn.credihealth.com/images/procedure-icon.jpg" height="140" width="140" alt="" class="credi-image-box image-circle-desk">
                    </div>
                    <div class="col-md-5" style="margin-top:20px;">
                        <div>
                            <div>
                                <h2 class="credi-h1-font no-margin procedure-name">Sleeve Gastrectomy</h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="credi-row-space"></div>
                        <div class="list_style">
                            <div style="color:#ffffff;" class="credi-font"></div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top:20px;">
                        <div class="col-md-12 no-padding">
                            <div class="col-md-1 no-padding">
                                <img src="/assets/doctor_white-48793bad77caaa54576bc517fa7ef85d371d65ad140437971b0cb96be13c4513.png" width="26px">
                            </div>
                            <div class="col-md-11" style="padding-top: 3px;">
                                <a style="color:#ffffff;" href="/doctors/delhi-ncr/sleeve-gastrectomy">Doctors</a>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="credi-row-space"></div>
                            <div class="col-md-1 no-padding">
                                <img src="/assets/hospital_white-385fc4530421094d1eecd0e40728fc181314abc4d9d5de2dbbb086269ba5244b.png" width="26px">
                            </div>
                            <div class="col-md-11" style="padding-top: 3px;">
                                <a style="color:#ffffff;" href="/hospitals/delhi-ncr/sleeve-gastrectomy">Hospitals</a>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <div class="credi-row-space"></div>
                            <a class="btn credi-bclr" href="/procedure/delhi-ncr/sleeve-gastrectomy/quote">GET COST ESTIMATE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-1 col-md-11">
            <div class="col-md-11">
                <div id="hosp_profilelist">
                    <div style="background-color:#ffffff;">
                        <div class="text-center">
                            <div class="col-md-2 credi-bx-tab ">
                                <a class="credi-txt-clr" href="/procedure/sleeve-gastrectomy/details">FAQs</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="col-md-2 credi-bx-tab ">
                                <a class="credi-txt-clr" href="/procedure/sleeve-gastrectomy/articles">ARTICLES</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="col-md-2 credi-bx-tab ">
                                <a class="credi-txt-clr" href="/procedure/delhi-ncr/sleeve-gastrectomy/appointment">APPOINTMENT</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="col-md-2 credi-bx-tab ">
                                <a class="credi-txt-clr" href="/procedure/delhi-ncr/sleeve-gastrectomy/hospitals">HOSPITALS</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="col-md-2 credi-bx-tab activemenu">
                                <a class="credi-txt-clr" href="/procedure/delhi-ncr/sleeve-gastrectomy/quote">GET COST ESTIMATE</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="col-md-2 credi-bx-tab ">
                                <a class="credi-txt-clr" href="/procedure/sleeve-gastrectomy/videos">VIDEOS</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <div class="col-md-offset-1 col-md-11">
            <div class="col-md-11">
                <div class="credi-box">
                    <div class="col-md-8 col-md-offset-2">
                        <h4>
                            <center>
                                <h1 class="credi-h2-font no-margin">Get Cost of Sleeve Gastrectomy in Delhi NCR </h>
                            </center>
                        </h4>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form class="form appt-form" role="form" id="validate_form" data-toggle="validator" action="/appointments" accept-charset="UTF-8" data-remote="true" method="post">
                                <input name="utf8" type="hidden" value="&#x2713;" />
                                <input type="hidden" value="true" name="appointment[is_quote]" id="appointment_is_quote" />
                                <input type="hidden" value="8920" name="appointment[keyword_id]" id="appointment_keyword_id" />
                                <input type="hidden" name="op_city" id="op_city" value="Delhi NCR" />

                                <input type="hidden" name="appointment[quote_requests_attributes][0][room_type]" id="appointment_quote_requests_attributes_0_room_type" />
                                <input type="hidden" name="appointment[quote_requests_attributes][0][preffered_date]" id="appointment_quote_requests_attributes_0_preffered_date" />
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <select class="form-control chosen-select " name="appointment[quote_requests_attributes][0][healthcare_centre_id]" id="appointment_quote_requests_attributes_0_healthcare_centre_id">
                                        <option value="">Select hospital</option>
                                        <option value="101">Artemis Hospital, Gurgaon</option>
                                        <option value="48">BLK Super Specialty Hospital, New Delhi</option>
                                        <option value="488">Columbia Asia Hospital, Ghaziabad</option>
                                        <option value="87">Columbia Asia Hospital, Gurgaon</option>
                                        <option value="67">Delhi Heart and Lung Institute, New Delhi</option>
                                        <option value="70">Dharamshila Hospital, New Delhi</option>
                                        <option value="78">Fortis Escorts Heart Institute, Okhla Road</option>
                                        <option value="114">Fortis Escorts Hospital, Faridabad</option>
                                        <option value="77">Fortis Flt. Lt. Rajan Dhall Hospital, Vasant Kunj</option>
                                        <option value="97">Fortis Hospital, Shalimar Bagh</option>
                                        <option value="79">Fortis Hospital, Noida</option>
                                        <option value="81">Fortis Memorial Research Institute, Gurgaon</option>
                                        <option value="55">Indraprastha Apollo Hospitals, Sarita Vihar</option>
                                        <option value="751">Jaypee Hospital, Noida</option>
                                        <option value="82">Medanta The Medicity, Gurgaon</option>
                                        <option value="62">Paras Hospital, Gurgaon</option>
                                        <option value="61">Primus Super Speciality Hospital, New Delhi</option>
                                        <option value="63">Pushpawati Singhania Research Institute, Delhi</option>
                                        <option value="780">W Pratiksha Hospital, Gurgaon</option>
                                    </select>
                                </div>

                                <input type="hidden" name="appointment[quote_requests_attributes][1][room_type]" id="appointment_quote_requests_attributes_1_room_type" />
                                <input type="hidden" name="appointment[quote_requests_attributes][1][preffered_date]" id="appointment_quote_requests_attributes_1_preffered_date" />
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <select class="form-control chosen-select " name="appointment[quote_requests_attributes][1][healthcare_centre_id]" id="appointment_quote_requests_attributes_1_healthcare_centre_id">
                                        <option value="">Select hospital</option>
                                        <option value="101">Artemis Hospital, Gurgaon</option>
                                        <option value="48">BLK Super Specialty Hospital, New Delhi</option>
                                        <option value="488">Columbia Asia Hospital, Ghaziabad</option>
                                        <option value="87">Columbia Asia Hospital, Gurgaon</option>
                                        <option value="67">Delhi Heart and Lung Institute, New Delhi</option>
                                        <option value="70">Dharamshila Hospital, New Delhi</option>
                                        <option value="78">Fortis Escorts Heart Institute, Okhla Road</option>
                                        <option value="114">Fortis Escorts Hospital, Faridabad</option>
                                        <option value="77">Fortis Flt. Lt. Rajan Dhall Hospital, Vasant Kunj</option>
                                        <option value="97">Fortis Hospital, Shalimar Bagh</option>
                                        <option value="79">Fortis Hospital, Noida</option>
                                        <option value="81">Fortis Memorial Research Institute, Gurgaon</option>
                                        <option value="55">Indraprastha Apollo Hospitals, Sarita Vihar</option>
                                        <option value="751">Jaypee Hospital, Noida</option>
                                        <option value="82">Medanta The Medicity, Gurgaon</option>
                                        <option value="62">Paras Hospital, Gurgaon</option>
                                        <option value="61">Primus Super Speciality Hospital, New Delhi</option>
                                        <option value="63">Pushpawati Singhania Research Institute, Delhi</option>
                                        <option value="780">W Pratiksha Hospital, Gurgaon</option>
                                    </select>
                                </div>

                                <input type="hidden" name="appointment[quote_requests_attributes][2][room_type]" id="appointment_quote_requests_attributes_2_room_type" />
                                <input type="hidden" name="appointment[quote_requests_attributes][2][preffered_date]" id="appointment_quote_requests_attributes_2_preffered_date" />
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <select class="form-control chosen-select " name="appointment[quote_requests_attributes][2][healthcare_centre_id]" id="appointment_quote_requests_attributes_2_healthcare_centre_id">
                                        <option value="">Select hospital</option>
                                        <option value="101">Artemis Hospital, Gurgaon</option>
                                        <option value="48">BLK Super Specialty Hospital, New Delhi</option>
                                        <option value="488">Columbia Asia Hospital, Ghaziabad</option>
                                        <option value="87">Columbia Asia Hospital, Gurgaon</option>
                                        <option value="67">Delhi Heart and Lung Institute, New Delhi</option>
                                        <option value="70">Dharamshila Hospital, New Delhi</option>
                                        <option value="78">Fortis Escorts Heart Institute, Okhla Road</option>
                                        <option value="114">Fortis Escorts Hospital, Faridabad</option>
                                        <option value="77">Fortis Flt. Lt. Rajan Dhall Hospital, Vasant Kunj</option>
                                        <option value="97">Fortis Hospital, Shalimar Bagh</option>
                                        <option value="79">Fortis Hospital, Noida</option>
                                        <option value="81">Fortis Memorial Research Institute, Gurgaon</option>
                                        <option value="55">Indraprastha Apollo Hospitals, Sarita Vihar</option>
                                        <option value="751">Jaypee Hospital, Noida</option>
                                        <option value="82">Medanta The Medicity, Gurgaon</option>
                                        <option value="62">Paras Hospital, Gurgaon</option>
                                        <option value="61">Primus Super Speciality Hospital, New Delhi</option>
                                        <option value="63">Pushpawati Singhania Research Institute, Delhi</option>
                                        <option value="780">W Pratiksha Hospital, Gurgaon</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12" id="add_hospital">
                                    <span onclick="show_hospital()" style="color:#335ca9;cursor:pointer;">+Add Hospital</span>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <span class="form-control">
                                        Have you visited these hospital before?

                                        <input type="radio" value="false" checked="checked" name="appointment[is_visited]" id="appointment_is_visited_false" /> NO
                                        <input type="radio" value="true" name="appointment[is_visited]" id="appointment_is_visited_true" /> Yes
                                    </span>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <select name="room_type" id="room_type" class="form-control" required="required">
                                        <option value="">Select room preference</option>
                                        <option value="Single">Single</option>
                                        <option value="Sharing">Sharing</option>
                                        <option value="Suite">Suite</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <select name="preffered_date" id="preffered_date" class="form-control" required="required">
                                        <option value="">Select preffered date</option>
                                        <option value="Within next 3-7 days">Within next 3-7 days</option>
                                        <option value="Within 1 month">Within 1 month</option>
                                        <option value="Within 3 months">Within 3 months</option>
                                    </select>
                                </div>


                                <input type="hidden" name="appointment[patient_attributes][phone_no]" id="appointment_patient_attributes_phone_no" />
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <input placeholder="Patient name" class="form-control" required="required" type="text" name="appointment[patient_attributes][firstname]" id="appointment_patient_attributes_firstname" />
                                </div>

                                <div class="form-group col-md-5 no-padding col-sm-12 col-xs-12">
                                    <select class="form-control" name="appointment[patient_attributes][country_code]" id="appointment_patient_attributes_country_code">
                                        <option value="93">Afghanistan - AF</option>
                                        <option value="355">Albania - AL</option>
                                        <option value="213">Algeria - DZ</option>
                                        <option value="1684">American Samoa - AS</option>
                                        <option value="376">Andorra - AD</option>
                                        <option value="244">Angola - AO</option>
                                        <option value="1264">Anguilla - AI</option>
                                        <option value="672">Antarctica - AQ</option>
                                        <option value="1268">Antigua and Barbuda - AG</option>
                                        <option value="54">Argentina - AR</option>
                                        <option value="374">Armenia - AM</option>
                                        <option value="297">Aruba - AW</option>
                                        <option value="61">Australia - AU</option>
                                        <option value="43">Austria - AT</option>
                                        <option value="994">Azerbaijan - AZ</option>
                                        <option value="1242">Bahamas - BS</option>
                                        <option value="973">Bahrain - BH</option>
                                        <option value="880">Bangladesh - BD</option>
                                        <option value="1246">Barbados - BB</option>
                                        <option value="375">Belarus - BY</option>
                                        <option value="32">Belgium - BE</option>
                                        <option value="501">Belize - BZ</option>
                                        <option value="229">Benin - BJ</option>
                                        <option value="1441">Bermuda - BM</option>
                                        <option value="975">Bhutan - BT</option>
                                        <option value="591">Bolivia - BO</option>
                                        <option value="387">Bosnia and Herzegovina - BA</option>
                                        <option value="267">Botswana - BW</option>
                                        <option value="55">Brazil - BR</option>
                                        <option value="246">British Indian Ocean Territory - IO</option>
                                        <option value="1284">British Virgin Islands - VG</option>
                                        <option value="673">Brunei - BN</option>
                                        <option value="359">Bulgaria - BG</option>
                                        <option value="226">Burkina Faso - BF</option>
                                        <option value="257">Burundi - BI</option>
                                        <option value="855">Cambodia - KH</option>
                                        <option value="237">Cameroon - CM</option>
                                        <option value="1">Canada - CA</option>
                                        <option value="238">Cape Verde - CV</option>
                                        <option value="1345">Cayman Islands - KY</option>
                                        <option value="236">Central African Republic - CF</option>
                                        <option value="235">Chad - TD</option>
                                        <option value="56">Chile - CL</option>
                                        <option value="86">China - CN</option>
                                        <option value="61">Christmas Island - CX</option>
                                        <option value="61">Cocos Islands - CC</option>
                                        <option value="57">Colombia - CO</option>
                                        <option value="269">Comoros - KM</option>
                                        <option value="682">Cook Islands - CK</option>
                                        <option value="506">Costa Rica - CR</option>
                                        <option value="385">Croatia - HR</option>
                                        <option value="53">Cuba - CU</option>
                                        <option value="599">Curacao - CW</option>
                                        <option value="357">Cyprus - CY</option>
                                        <option value="420">Czech Republic - CZ</option>
                                        <option value="243">Democratic Republic of the Congo - CD</option>
                                        <option value="45">Denmark - DK</option>
                                        <option value="253">Djibouti - DJ</option>
                                        <option value="1767">Dominica - DM</option>
                                        <option value="1809">Dominican Republic - DO</option>
                                        <option value="670">East Timor - TL</option>
                                        <option value="593">Ecuador - EC</option>
                                        <option value="20">Egypt - EG</option>
                                        <option value="503">El Salvador - SV</option>
                                        <option value="240">Equatorial Guinea - GQ</option>
                                        <option value="291">Eritrea - ER</option>
                                        <option value="372">Estonia - EE</option>
                                        <option value="251">Ethiopia - ET</option>
                                        <option value="500">Falkland Islands - FK</option>
                                        <option value="298">Faroe Islands - FO</option>
                                        <option value="679">Fiji - FJ</option>
                                        <option value="358">Finland - FI</option>
                                        <option value="33">France - FR</option>
                                        <option value="689">French Polynesia - PF</option>
                                        <option value="241">Gabon - GA</option>
                                        <option value="220">Gambia - GM</option>
                                        <option value="995">Georgia - GE</option>
                                        <option value="49">Germany - DE</option>
                                        <option value="233">Ghana - GH</option>
                                        <option value="350">Gibraltar - GI</option>
                                        <option value="30">Greece - GR</option>
                                        <option value="299">Greenland - GL</option>
                                        <option value="1473">Grenada - GD</option>
                                        <option value="1671">Guam - GU</option>
                                        <option value="502">Guatemala - GT</option>
                                        <option value="441481">Guernsey - GG</option>
                                        <option value="224">Guinea - GN</option>
                                        <option value="245">Guinea-Bissau - GW</option>
                                        <option value="592">Guyana - GY</option>
                                        <option value="509">Haiti - HT</option>
                                        <option value="504">Honduras - HN</option>
                                        <option value="852">Hong Kong - HK</option>
                                        <option value="36">Hungary - HU</option>
                                        <option value="354">Iceland - IS</option>
                                        <option selected="selected" value="+91">India - IN</option>
                                        <option value="62">Indonesia - ID</option>
                                        <option value="98">Iran - IR</option>
                                        <option value="964">Iraq - IQ</option>
                                        <option value="353">Ireland - IE</option>
                                        <option value="441624">Isle of Man - IM</option>
                                        <option value="972">Israel - IL</option>
                                        <option value="39">Italy - IT</option>
                                        <option value="225">Ivory Coast - CI</option>
                                        <option value="1876">Jamaica - JM</option>
                                        <option value="81">Japan - JP</option>
                                        <option value="441534">Jersey - JE</option>
                                        <option value="962">Jordan - JO</option>
                                        <option value="7">Kazakhstan - KZ</option>
                                        <option value="254">Kenya - KE</option>
                                        <option value="686">Kiribati - KI</option>
                                        <option value="383">Kosovo - XK</option>
                                        <option value="965">Kuwait - KW</option>
                                        <option value="996">Kyrgyzstan - KG</option>
                                        <option value="856">Laos - LA</option>
                                        <option value="371">Latvia - LV</option>
                                        <option value="961">Lebanon - LB</option>
                                        <option value="266">Lesotho - LS</option>
                                        <option value="231">Liberia - LR</option>
                                        <option value="218">Libya - LY</option>
                                        <option value="423">Liechtenstein - LI</option>
                                        <option value="370">Lithuania - LT</option>
                                        <option value="352">Luxembourg - LU</option>
                                        <option value="853">Macao - MO</option>
                                        <option value="389">Macedonia - MK</option>
                                        <option value="261">Madagascar - MG</option>
                                        <option value="265">Malawi - MW</option>
                                        <option value="60">Malaysia - MY</option>
                                        <option value="960">Maldives - MV</option>
                                        <option value="223">Mali - ML</option>
                                        <option value="356">Malta - MT</option>
                                        <option value="692">Marshall Islands - MH</option>
                                        <option value="222">Mauritania - MR</option>
                                        <option value="230">Mauritius - MU</option>
                                        <option value="262">Mayotte - YT</option>
                                        <option value="52">Mexico - MX</option>
                                        <option value="691">Micronesia - FM</option>
                                        <option value="373">Moldova - MD</option>
                                        <option value="377">Monaco - MC</option>
                                        <option value="976">Mongolia - MN</option>
                                        <option value="382">Montenegro - ME</option>
                                        <option value="1664">Montserrat - MS</option>
                                        <option value="212">Morocco - MA</option>
                                        <option value="258">Mozambique - MZ</option>
                                        <option value="95">Myanmar - MM</option>
                                        <option value="264">Namibia - NA</option>
                                        <option value="674">Nauru - NR</option>
                                        <option value="977">Nepal - NP</option>
                                        <option value="31">Netherlands - NL</option>
                                        <option value="599">Netherlands Antilles - AN</option>
                                        <option value="687">New Caledonia - NC</option>
                                        <option value="64">New Zealand - NZ</option>
                                        <option value="505">Nicaragua - NI</option>
                                        <option value="227">Niger - NE</option>
                                        <option value="234">Nigeria - NG</option>
                                        <option value="683">Niue - NU</option>
                                        <option value="1670">Northern Mariana Islands - MP</option>
                                        <option value="850">North Korea - KP</option>
                                        <option value="47">Norway - NO</option>
                                        <option value="968">Oman - OM</option>
                                        <option value="92">Pakistan - PK</option>
                                        <option value="680">Palau - PW</option>
                                        <option value="970">Palestine - PS</option>
                                        <option value="507">Panama - PA</option>
                                        <option value="675">Papua New Guinea - PG</option>
                                        <option value="595">Paraguay - PY</option>
                                        <option value="51">Peru - PE</option>
                                        <option value="63">Philippines - PH</option>
                                        <option value="64">Pitcairn - PN</option>
                                        <option value="48">Poland - PL</option>
                                        <option value="351">Portugal - PT</option>
                                        <option value="1787">Puerto Rico - PR</option>
                                        <option value="1939">Qatar - QA</option>
                                        <option value="974">Republic of the Congo - CG</option>
                                        <option value="242">Reunion - RE</option>
                                        <option value="262">Romania - RO</option>
                                        <option value="40">Russia - RU</option>
                                        <option value="7">Rwanda - RW</option>
                                        <option value="250">Saint Barthelemy - BL</option>
                                        <option value="590">Saint Helena - SH</option>
                                        <option value="290">Saint Kitts and Nevis - KN</option>
                                        <option value="1869">Saint Lucia - LC</option>
                                        <option value="1758">Saint Martin - MF</option>
                                        <option value="590">Saint Pierre and Miquelon - PM</option>
                                        <option value="508">Saint Vincent and the Grenadines - VC</option>
                                        <option value="1784">Samoa - WS</option>
                                        <option value="685">San Marino - SM</option>
                                        <option value="378">Sao Tome and Principe - ST</option>
                                        <option value="239">Saudi Arabia - SA</option>
                                        <option value="966">Senegal - SN</option>
                                        <option value="221">Serbia - RS</option>
                                        <option value="381">Seychelles - SC</option>
                                        <option value="248">Sierra Leone - SL</option>
                                        <option value="232">Singapore - SG</option>
                                        <option value="65">Sint Maarten - SX</option>
                                        <option value="1721">Slovakia - SK</option>
                                        <option value="421">Slovenia - SI</option>
                                        <option value="386">Solomon Islands - SB</option>
                                        <option value="677">Somalia - SO</option>
                                        <option value="252">South Africa - ZA</option>
                                        <option value="27">South Korea - KR</option>
                                        <option value="82">South Sudan - SS</option>
                                        <option value="211">Spain - ES</option>
                                        <option value="34">Sri Lanka - LK</option>
                                        <option value="94">Sudan - SD</option>
                                        <option value="249">Suriname - SR</option>
                                        <option value="597">Svalbard and Jan Mayen - SJ</option>
                                        <option value="47">Swaziland - SZ</option>
                                        <option value="268">Sweden - SE</option>
                                        <option value="46">Switzerland - CH</option>
                                        <option value="41">Syria - SY</option>
                                        <option value="963">Taiwan - TW</option>
                                        <option value="886">Tajikistan - TJ</option>
                                        <option value="992">Tanzania - TZ</option>
                                        <option value="255">Thailand - TH</option>
                                        <option value="66">Togo - TG</option>
                                        <option value="228">Tokelau - TK</option>
                                        <option value="690">Tonga - TO</option>
                                        <option value="676">Trinidad and Tobago - TT</option>
                                        <option value="1868">Tunisia - TN</option>
                                        <option value="216">Turkey - TR</option>
                                        <option value="90">Turkmenistan - TM</option>
                                        <option value="993">Turks and Caicos Islands - TC</option>
                                        <option value="1649">Tuvalu - TV</option>
                                        <option value="1340">Uganda - UG</option>
                                        <option value="256">Ukraine - UA</option>
                                        <option value="380">United Arab Emirates - AE</option>
                                        <option value="971">United Kingdom - GB</option>
                                        <option value="44">United States - US</option>
                                        <option value="1">Uruguay - UY</option>
                                        <option value="688">U.S. Virgin Islands - VI</option>
                                        <option value="598">Uzbekistan - UZ</option>
                                        <option value="998">Vanuatu - VU</option>
                                        <option value="678">Vatican - VA</option>
                                        <option value="379">Venezuela - VE</option>
                                        <option value="58">Vietnam - VN</option>
                                        <option value="84">Wallis and Futuna - WF</option>
                                        <option value="681">Western Sahara - EH</option>
                                        <option value="212">Yemen - YE</option>
                                        <option value="967">Zambia - ZM</option>
                                        <option value="260">Zimbabwe - ZW</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-7 col-sm-12 col-xs-12 " style="padding-right:0px;">
                                    <div class='input-group'>
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-phone btn-lg" style="padding: 0px;"></span>
                                        </span>
                                        <input placeholder="9988XXXXXX" class="form-control numbers_only" required="required" maxlength="10" pattern="[0-9]{10}" size="10" type="text" name="appointment[patient_attributes][phone_number]" id="appointment_patient_attributes_phone_number" />
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <input placeholder="User email" class="form-control" required="required" type="email" name="appointment[patient_attributes][email]" id="appointment_patient_attributes_email" />
                                </div>

                                <div class="form-group col-md-5 col-sm-12 col-xs-12 no-padding">
                                    <select class="form-control" required="required" name="appointment[patient_attributes][age]" id="appointment_patient_attributes_age">
                                        <option value="">Select Patient Age</option>
                                        <option value="1 months">1 months</option>
                                        <option value="2 months">2 months</option>
                                        <option value="3 months">3 months</option>
                                        <option value="4 months">4 months</option>
                                        <option value="5 months">5 months</option>
                                        <option value="6 months">6 months</option>
                                        <option value="7 months">7 months</option>
                                        <option value="8 months">8 months</option>
                                        <option value="9 months">9 months</option>
                                        <option value="10 months">10 months</option>
                                        <option value="11 months">11 months</option>
                                        <option value="1 years">1 years</option>
                                        <option value="2 years">2 years</option>
                                        <option value="3 years">3 years</option>
                                        <option value="4 years">4 years</option>
                                        <option value="5 years">5 years</option>
                                        <option value="6 years">6 years</option>
                                        <option value="7 years">7 years</option>
                                        <option value="8 years">8 years</option>
                                        <option value="9 years">9 years</option>
                                        <option value="10 years">10 years</option>
                                        <option value="11 years">11 years</option>
                                        <option value="12 years">12 years</option>
                                        <option value="13 years">13 years</option>
                                        <option value="14 years">14 years</option>
                                        <option value="15 years">15 years</option>
                                        <option value="16 years">16 years</option>
                                        <option value="17 years">17 years</option>
                                        <option value="18 years">18 years</option>
                                        <option value="19 years">19 years</option>
                                        <option value="20 years">20 years</option>
                                        <option value="21 years">21 years</option>
                                        <option value="22 years">22 years</option>
                                        <option value="23 years">23 years</option>
                                        <option value="24 years">24 years</option>
                                        <option value="25 years">25 years</option>
                                        <option value="26 years">26 years</option>
                                        <option value="27 years">27 years</option>
                                        <option value="28 years">28 years</option>
                                        <option value="29 years">29 years</option>
                                        <option value="30 years">30 years</option>
                                        <option value="31 years">31 years</option>
                                        <option value="32 years">32 years</option>
                                        <option value="33 years">33 years</option>
                                        <option value="34 years">34 years</option>
                                        <option value="35 years">35 years</option>
                                        <option value="36 years">36 years</option>
                                        <option value="37 years">37 years</option>
                                        <option value="38 years">38 years</option>
                                        <option value="39 years">39 years</option>
                                        <option value="40 years">40 years</option>
                                        <option value="41 years">41 years</option>
                                        <option value="42 years">42 years</option>
                                        <option value="43 years">43 years</option>
                                        <option value="44 years">44 years</option>
                                        <option value="45 years">45 years</option>
                                        <option value="46 years">46 years</option>
                                        <option value="47 years">47 years</option>
                                        <option value="48 years">48 years</option>
                                        <option value="49 years">49 years</option>
                                        <option value="50 years">50 years</option>
                                        <option value="51 years">51 years</option>
                                        <option value="52 years">52 years</option>
                                        <option value="53 years">53 years</option>
                                        <option value="54 years">54 years</option>
                                        <option value="55 years">55 years</option>
                                        <option value="56 years">56 years</option>
                                        <option value="57 years">57 years</option>
                                        <option value="58 years">58 years</option>
                                        <option value="59 years">59 years</option>
                                        <option value="60 years">60 years</option>
                                        <option value="61 years">61 years</option>
                                        <option value="62 years">62 years</option>
                                        <option value="63 years">63 years</option>
                                        <option value="64 years">64 years</option>
                                        <option value="65 years">65 years</option>
                                        <option value="66 years">66 years</option>
                                        <option value="67 years">67 years</option>
                                        <option value="68 years">68 years</option>
                                        <option value="69 years">69 years</option>
                                        <option value="70 years">70 years</option>
                                        <option value="75 years">75 years</option>
                                        <option value="80 years">80 years</option>
                                        <option value="85 years">85 years</option>
                                        <option value="90 years">90 years</option>
                                        <option value="95 years">95 years</option>
                                        <option value="100 years">100 years</option>
                                        <option value="100+ years">100+ years</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-7 col-sm-12 col-xs-12 " style="padding-right: 0px;">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span>Gender</span>
                                        </span>
                                        <span class="form-control" style="padding-top: 13px;">
                                            <input type="radio" value="Male" checked="checked" name="appointment[patient_attributes][gender]" id="appointment_patient_attributes_gender_male" /> Male
                                            <input type="radio" value="Female" name="appointment[patient_attributes][gender]" id="appointment_patient_attributes_gender_female" /> Female
                                        </span>
                                    </div>
                                </div>

                                <textarea class="form-control" placeholder="Medical conditions of patient e.g. pain in chest etc." name="appointment[patient_attributes][patient_history]" id="appointment_patient_attributes_patient_history"></textarea>


                                <div class="clearfix"></div>
                                </br>
                                <div class="col-md-12">
                                    <input type="submit" name="commit" value="submit" class="btn form-control submit-btn" data-disable-with="Submitting please wait...." />
                                </div>
                            </form>
                        </div>
                        <style>
                            .chosen-container-single .chosen-single {
                                padding: 10px !important;
                                height: 50px !important;
                                background: none;
                            }

                            .chosen-container .chosen-results li.highlighted {
                                background: #ffd700 !important;
                                color: #373435 !important;
                            }

                            .submit-btn {
                                background-color: #ffd700;
                                color: #373435;
                                font-size: 18px;
                                text-transform: uppercase;
                                border: 1px solid #373435;
                            }

                            .datepicker-days .active, .datepicker-days .day:hover {
                                background: #ffd700 !important;
                                color: #373435 !important;
                                background-image: none !important;
                            }
                        </style>
                        <script type="text/javascript">
	$(document).ready(function () {
		$("#appointment_quote_requests_attributes_1_healthcare_centre_id_chosen").parent().css("display","none")
		$("#appointment_quote_requests_attributes_2_healthcare_centre_id_chosen").parent().css("display","none")
	})

	var count = 1;
		function show_hospital (){
			if (count == 1) {
			$("#appointment_quote_requests_attributes_1_healthcare_centre_id_chosen").parent().css("display","block")
			count = 2;
			} else{
			$("#appointment_quote_requests_attributes_2_healthcare_centre_id_chosen").parent().css("display","block")
			$("#add_hospital").css("display","none")
			};
		}
                        </script>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />

    </div>
    <div class="clearfix"></div>
    <br />
    <!-- Search page only -->
    </div>


    <!-- End Search page only  -->



    <div class="col-md-12" style="background-color: #373534; padding: 20px 0px;">
        <div class="col-md-4">
            <img alt="Credihealth - The Healthcare Answer" style="width: 180px;" src="/assets/new_credihealth_logo-f36c1140be98b2f20a0bb220428b30536dd9e7d655ba74b1b4704a9a7aa7dfb2.png" />
            <div class="home_footer_credi_writeup_body">
                Credihealth is a medical assistance company that gives guidance to a patient from the first consultation through the entire hospitalization process. A team of in-house Credihealth doctors helps the patient find the right doctor, book appointment, request cost estimate for procedures and manage admission &amp; discharge processes.
            </div>

        </div>
        <div class="col-md-3">
            <div class="col-md-12 form-group credi-clr">Quick Link</div>
            <div class="col-md-6">
                <div>
                    <a class="home_footer_a_tags" href="/aboutus">About Us</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="/careers">Careers</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="http://blog.credihealth.com">Health Blog</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="/terms-of-usage">Terms of Usage</a>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <a class="home_footer_a_tags" href="/privacy-policy">Privacy Policy</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="/feedback">Feedback</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="/sitemap">Sitemap</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="/contactus">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group credi-clr">Download App</div>
            <div>
                <a href=" https//play.google.com/store/apps/details?id=com.credihealth.android" class="android_app_image" target="_blank" title="Credihealth Android App"></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 form-group credi-clr">
                Keep in Touch
            </div>
            <div class="col-md-12">
                <a class="facebook_follow_image" href="https://www.facebook.com/credihealth" target="_blank" title="Facebook"></a>
                <a class="google_plus_follow_image" href="https://plus.google.com/+Credihealth" title="Google+" target="_blank"></a>
                <a class="twitter_follow_image" href="https://twitter.com/credihealth" title="Twitter" target="_blank"></a>
                <a class="youtube_follow_image" href="https://www.youtube.com/user/credihealth" title="Youtube" target="_blank"></a>
            </div>
            <div class="col-md-12">
                <a class="linkedin_follow_image" href="https://in.linkedin.com/company/credihealth" title="Linkedin" target="_blank"></a>
                <a class="pinterest_follow_image" href="https://www.pinterest.com/credihealth/" title="Pinterest" target="_blank"></a>
                <a class="blog_follow_image" href="http://blog.credihealth.com/" title="Blog" target="_blank"></a>
                <a class="instagram_follow_image" href="https://instagram.com/credihealth/" title="Instagram" target="_blank"></a>
            </div>

        </div>

    </div>
    <div style="clear:both;"></div>
    <div style="margin: 25px;">
        <center>
            Credihealth Pvt. Ltd. - 463, Udyog Vihar Phase V, Gurgaon, Haryana-122016<br />
            Copyright 2013-16 © Credi Health Private Limited. All rights Reserved.
        </center>
    </div>
    <!-- Facebook Pixel Code for remarketing -->
    <script>
	    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	    document,'script','https://connect.facebook.net/en_US/fbevents.js');

	    fbq('init', '305877022949000');
	    fbq('track', "PageView");
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=305877022949000&ev=PageView&noscript=1" />
    </noscript>
    <!-- Google Code for visit Conversion Page -->
    <script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 976061861;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "91TJCPGz3mgQpYu20QM";
		var google_remarketing_only = true;
		/* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/976061861/?label=91TJCPGz3mgQpYu20QM&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    <div id="dynamic_modal" class="col-md-12">
        <div class="modal fade" id="credi_hall_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content credi-txt-clr">
                    <div class="modal-header" style="background-color: #ffd700;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            <center>Credihealth Hall of Fame - Cardiology Hospitals</center>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <a target="_blank" href="http://blog.credihealth.com/trusted-cardiology-hospitals-india-2016">
                            <div class="col-md-12">
                                <img src="/assets/credi-hall-bd314c1bdc3852fff964332b82f738c3e3f9d9c1898479a6d885cfd1fa2fa8d3.jpg" width="100%">
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12">
                                <span style="color:#373534;"><center> On this World Heart Day, Credihealth brings to you a list of most trusted hospitals across major Indian cities based on our website data.</center></span>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12">
                                <span style="text-decoration:underline;"><center><b>View List</b></center> </span>
                            </div>
                        </a>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link href="~/Content/css/application.css" rel="stylesheet" />
    <link href="~/Content/css/hospitals.css" rel="stylesheet" />
  <link rel="stylesheet" media="screen" href="/assets/keywords-7b048f18833641425040b71db653332ef9b71abe2469f7fdeb4dccf5a1a968c9.css" />


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" async></script>


</body>
</html>
