
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
@{
    Html.RenderPartial("header");
    }

<!DOCTYPE html>

<html lang="en">
<head>
    <title>
        Dr. Rahul Damle - Orthopedist in Apollo Pune | Credihealth
    </title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
  

  
</head>
 
<body oncopy="return false" oncut="return false">
   
  
   
    <style>
        .dropdown-menu {
            min-width: 38%;
        }

        .navbar-inverse {
            background-color: #373534 !important;
            border-color: #373534 !important;
        }
    </style>
    <div style="height:55px;"></div>
    <div style="min-width: 1260px; max-width: 1366; margin: 0 auto;">

        <div class="clearfix">
        </div>
        <div class="breadcrumb-container" style="padding-left: 3%; margin-top: 1%; margin-bottom: 1%;">
            <h5 itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="https://www.credihealth.com/">
                    <span itemprop="title">Home</span>
                </a>
            </h5>
            <span class="no-margin pull-left">
                &nbsp;/&nbsp;
            </span>
            <h5 itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="https://www.credihealth.com/doctors/india/all"><span itemprop="title">Doctors</span></a>
            </h5>
            <span class="no-margin pull-left">
                &nbsp;/&nbsp;
            </span>
            <h5 itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="https://www.credihealth.com/doctors/delhi-ncr/orthopedics"><span itemprop="title"> Orthopedics</span></a>
            </h5>
            <span class="no-margin pull-left">
                &nbsp;/&nbsp;
            </span>
            <h5 itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="https://www.credihealth.com/doctor/rahul-damle-orthopedist/overview"><span itemprop="title"> Dr. Rahul Damle</span></a>
            </h5>
        </div>
        <div class="clearfix">
        </div>
        <div itemscope="" itemtype="https://schema.org/Physician" class="navbar-default">
            <div class="col-md-12" style="background-image: url(/Content/images/doc_background_dummy_img.jpg); padding: 40px 0px;">
                <div class="col-md-offset-1 col-md-11">
                    <div class="col-md-offset-1 col-md-2">
                        
                        <img itemprop="photo" src="~/Content/images/gallery/icon.jpg" class="credi-image-box image-circle-desk doctor-image-brdr" alt="Rahul Damle">
                    </div>
                    <div class="col-md-5" style="color:#fff">
                        <div>
                            <h1 class="credi-h2-font no-margin">
                                <a itemprop="url" href="https://www.credihealth.com/doctor/rahul-damle-orthopedist/overview">
                                    <span itemprop="name" class="doctor-name"> Dr. Rahul Damle</span>
                                </a>
                                <!-- <div itemprop="name" class="doctor-name"> Rahul Damle</div> -->
                                <div class="credi-row-space"></div>
                                <div>
                                    <span class="doctor-education"> MBBS, MS - Orthopedics, DNB - Orthopedics </span>
                                </div>
                                <!-- <h1><span> Consultant - Orthopaedics </span></h1> -->
                                <div class="doctor-designation"> Consultant - Orthopaedics  </div>

                                <!-- <h1 itemscope itemtype="https://schema.org/Hospital">
                                  <span itemprop="department"> Consultant - Orthopaedics</span>
                                </h1> -->
                                <div class="doctor-education">
                                    <span itemprop="hospitalAffiliation">
                                        <a href="https://www.credihealth.com/hospital/apollo-jehangir-hospital-pune/overview" style="color:#ffffff;text-decoration:undeline;">
                                            Apollo Jehangir Hospital, Pune
                                        </a>
                                    </span>
                                </div>
                                <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                    <span itemprop="longitude">
                                        73.876847

                                    </span>
                                    <span itemprop="latitude">
                                        18.5302599

                                    </span>
                                </div>
                            </h1>
                        </div>
                        <div class="clearfix"></div>
                        <br>

                        <div class="col-md-12 no-padding">
                            <div class="col-md-1  no-padding">
                                <span class="share">Share</span>
                            </div>
                            <div class="col-md-1 no-padding" style="padding-left: 5px !important;">
                                <a target="_blank" class="fb-share-btn" href="https://www.facebook.com/sharer/sharer.php?u=https://www.credihealth.com/doctor/rahul-damle-orthopedist/overview"></a>
                            </div>
                            <div class="col-md-1  no-padding">
                                <a target="_blank" class="twitter-share-btn" href="https://twitter.com/intent/tweet?url=https://www.credihealth.com/doctor/rahul-damle-orthopedist/overview&amp;text=Rahul%20Damle&amp;hashtags=credihealth,knowUrDoc&amp;via=Credihealth"></a>
                            </div>
                            <div class="col-md-1  no-padding">
                                <a target="_blank" class="google-share-btn" href="https://plus.google.com/share?url=https://www.credihealth.com/doctor/rahul-damle-orthopedist/overview"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="color:#fff;margin-top: 10px;">
                        <div class="col-xs-12">
                            <span class="rupee_image"></span> &nbsp;
                            Fees: <span itemprop="priceRange">INR 600</span>
                        </div>
                        <div class="col-xs-12">
                            <a class="btn doctor-book-appt-btn credi-h3-font" href="https://www.credihealth.com/doctor/rahul-damle-orthopedist/appointment">Consult Now</a>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
            <br>

            <div class="col-md-offset-1 col-md-11">
                <div class="col-md-12">
                    <div class="col-md-3 credi-box shadow">
                        <div class="fullwidth">
                            <div>
                                <span class="hospital_image"></span> &nbsp;
                                <span>Hospitals: 1</span>
                            </div>
                            <div class="credi-row-space"></div>
                            <div class="credi-row-space"></div>
                            <div>
                                <span class="years_practice_image"></span> &nbsp;
                                <span>Years of Practice: 15</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <br>
                        <div class="fullwidth">
                            <div class="underline-div">
                                <span class="hospital_image"></span> &nbsp;
                                <b>Hospitals:1</b>
                                <div style="height:5px;"></div>
                            </div>
                            <br>
                            <div itemprop="memberOf" itemscope="" itemtype="https://schema.org/MedicalOrganization" class="fullwidth" style="margin-bottom:15px;">
                                <div class="col-xs-offset-1 col-xs-10">
                                    <img src="./Dr. Rahul Damle - Orthopedist in Apollo Pune _ Credihealth_files/icon(1).jpg" class="credi-img-border" width="100%">
                                    <div class="credi-row-space"></div>
                                </div>
                                <div class="doctor-other-details col-xs-offset-1 col-xs-11">
                                    <a itemprop="url" href="https://www.credihealth.com/hospital/apollo-jehangir-hospital-pune/overview">
                                        <span itemprop="name">Apollo Jehangir Hospital, Pune </span>
                                    </a>
                                    <div class="credi-row-space"></div>
                                </div>
                                <div class="col-md-12 no-padding">
                                    <span class="location_image"></span> &nbsp;
                                    <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress" class="col-md-10" style="font-size:12px;">
                                        <span itemprop="streetAddress">
                                            32, Sassoon Road, Pune, Maharashtra, 411001, India
                                        </span>

                                    </div>
                                    <div class="credi-row-space"></div>
                                </div>

                                <div class="col-md-offset-1 col-md-12 no-padding">
                                    <!--  &nbsp; -->
                                    <div style="margin-top: 10px;font-size: 13px; color:#373534" class="col-md-10">
                                        <table class="table table-condensed table-bordered">
                                            <tbody>
                                                <tr>
                                                    <th colspan="2">
                                                        <span class="timing_image"></span>
                                                        <span style="margin-left: 9px;"> Timings</span>
                                                    </th>
                                                </tr>
                                                <tr>

                                                    <td>

                                                        <span style="font-weight: bold;max-width:10px; min-width:10px">
                                                            Tue
                                                        </span>

                                                    </td>
                                                    <td>
                                                        12:00 pm -
                                                        03:00 pm
                                                    </td>
                                                </tr>
                                                <tr>

                                                    <td>

                                                        <span style="font-weight: bold;max-width:10px; min-width:10px">
                                                            Sat
                                                        </span>

                                                    </td>
                                                    <td>
                                                        12:00 pm -
                                                        03:00 pm
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="credi-row-space"></div>
                                </div>

                                <div class="text-center col-md-12">
                                    <a class="btn credi-bclr" href="https://www.credihealth.com/doctor/rahul-damle-orthopedist/appointment">Consult Now</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-12 credi-box shadow">
                            <div>
                                <div class="credi-box-heading"> Introduction</div>
                                <h2 class="doctor-description" itemprop="description">
                                    <p>A Consultant at the department of&nbsp;Orthopaedics in Apollo Jehangir Hospital, Dr. Rahul Damle has over a decade of rich professional experience in his field.&nbsp;Dr. Rahul Damle&nbsp;has treated several patients suffering from bone and joint&nbsp;problems&nbsp;in India and gives every patient the best of medical care.&nbsp;Dr. Rahul Damle&nbsp;has published several papers in India and abroad and is a member of prestigious medical associations. He believes in promoting health awareness and following a healthy lifestyle.</p>
                                </h2>
                            </div>
                        </div>

                        <div class="col-md-12 credi-box shadow" style="margin-top:15px;">
                            <div>
                                <div class="credi-box-heading"> Education</div>
                                <table class=" doctor-other-details table table-none-border">
                                    <thead>
                                        <tr>
                                            <th width="35%">Medical School &amp; Fellowships</th>
                                            <th width="50%">Institute</th>
                                            <th width="15%">Year</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>  MBBS</td>
                                            <td>
                                                B J Medical College
                                            </td>
                                            <td>
                                                1996
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>  MS - Orthopedics</td>
                                            <td>
                                                B J Medical College
                                            </td>
                                            <td>
                                                1999
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>  DNB - Orthopedics</td>
                                            <td>
                                                B J Medical College
                                            </td>
                                            <td>
                                                1999
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>  AFAOA</td>
                                            <td>
                                                Sydney, Australia
                                            </td>
                                            <td>
                                                2002
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class=" doctor-other-details table table-none-border">
                                    <thead>
                                        <tr>
                                            <th width="35%">Training</th>
                                            <th width="50%">Institute</th>
                                            <th width="15%">Year</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>  Course - AO Primary and Advance Pelvis &amp; Acetabular</td>
                                            <td>
                                                ----
                                            </td>
                                            <td>
                                                ----
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div class="col-md-12 credi-box shadow" style="margin-top:15px;">
                            <div>
                                <div class="credi-box-heading"> Experience</div>
                                <table class="doctor-other-details table table-none-border">
                                    <thead>
                                        <tr>
                                            <th width="35%">Designation &amp; Department</th>
                                            <th width="50%">Hospital</th>
                                            <th width="15%">Year</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Orthopedics,Consultant</td>
                                            <td>Apollo Jehangir Hospital, Sassoon Road</td>
                                            <td>----</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <!-- Search page only -->
    <!-- End Search page only  -->

    <div class="col-md-12" style="background-color: #373534; padding: 20px 0px;">
        <div class="col-md-4">
            <img alt="Credihealth - The Healthcare Answer" style="width: 180px;" src="./Dr. Rahul Damle - Orthopedist in Apollo Pune _ Credihealth_files/new_credihealth_logo-f36c1140be98b2f20a0bb220428b30536dd9e7d655ba74b1b4704a9a7aa7dfb2.png">
            <div class="home_footer_credi_writeup_body">
                Credihealth is a medical assistance company that gives guidance to a patient from the first consultation through the entire hospitalization process. A team of in-house Credihealth doctors helps the patient find the right doctor, book appointment, request cost estimate for procedures and manage admission &amp; discharge processes.
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 form-group credi-clr">Quick Link</div>
            <div class="col-md-6">
                <div>
                    <a class="home_footer_a_tags" href="https://www.credihealth.com/aboutus">About Us</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="https://www.credihealth.com/careers">Careers</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="http://blog.credihealth.com/">Health Blog</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="https://www.credihealth.com/terms-of-usage">Terms of Usage</a>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <a class="home_footer_a_tags" href="https://www.credihealth.com/privacy-policy">Privacy Policy</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="https://www.credihealth.com/feedback">Feedback</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="https://www.credihealth.com/sitemap">Sitemap</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="https://www.credihealth.com/contactus">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group credi-clr">Download App</div>
            <div>
                <a href="https://play.google.com/store/apps/details?id=com.credihealth.android" class="android_app_image" target="_blank" title="Credihealth Android App"></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 form-group credi-clr">
                Keep in Touch
            </div>
            <div class="col-md-12">
                <a class="facebook_follow_image" href="https://www.facebook.com/credihealth" target="_blank" title="Facebook"></a>
                <a class="google_plus_follow_image" href="https://plus.google.com/+Credihealth" title="Google+" target="_blank"></a>
                <a class="twitter_follow_image" href="https://twitter.com/credihealth" title="Twitter" target="_blank"></a>
                <a class="youtube_follow_image" href="https://www.youtube.com/user/credihealth" title="Youtube" target="_blank"></a>
            </div>
            <div class="col-md-12">
                <a class="linkedin_follow_image" href="https://in.linkedin.com/company/credihealth" title="Linkedin" target="_blank"></a>
                <a class="pinterest_follow_image" href="https://www.pinterest.com/credihealth/" title="Pinterest" target="_blank"></a>
                <a class="blog_follow_image" href="http://blog.credihealth.com/" title="Blog" target="_blank"></a>
                <a class="instagram_follow_image" href="https://instagram.com/credihealth/" title="Instagram" target="_blank"></a>
            </div>

        </div>
    </div>
    <div style="clear:both;"></div>
    <div style="margin: 25px;">
        <center>
            Credihealth Pvt. Ltd. - 463, Udyog Vihar Phase V, Gurgaon, Haryana-122016<br>
            Copyright 2013-16 © Credi Health Private Limited. All rights Reserved.
        </center>
    </div>
    <!-- Facebook Pixel Code for remarketing -->
    <script>
	    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	    document,'script','https://connect.facebook.net/en_US/fbevents.js');

	    fbq('init', '305877022949000');
	    fbq('track', "PageView");
    </script>
    <noscript>
        &lt;img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=305877022949000&amp;ev=PageView&amp;noscript=1"
        /&gt;
    </noscript>
    <!-- Google Code for visit Conversion Page -->
    <script type="text/javascript">
		/* <![CDATA[ */
		var google_conversion_id = 976061861;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "91TJCPGz3mgQpYu20QM";
		var google_remarketing_only = true;
		/* ]]> */
    </script>
    <script type="text/javascript" src="./Dr. Rahul Damle - Orthopedist in Apollo Pune _ Credihealth_files/conversion.js.download">
    </script><img height="1" width="1" border="0" alt="" src="./Dr. Rahul Damle - Orthopedist in Apollo Pune _ Credihealth_files/saved_resource" style="display:none">
    <noscript>
        &lt;div style="display:inline;"&gt;
        &lt;img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/976061861/?label=91TJCPGz3mgQpYu20QM&amp;amp;guid=ON&amp;amp;script=0"/&gt;
        &lt;/div&gt;
    </noscript>
    <div id="dynamic_modal" class="col-md-12">
        <div class="modal fade" id="credi_hall_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content credi-txt-clr">
                    <div class="modal-header" style="background-color: #ffd700;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            <center>Credihealth Hall of Fame - Cardiology Hospitals</center>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <a target="_blank" href="http://blog.credihealth.com/trusted-cardiology-hospitals-india-2016">
                            <div class="col-md-12">
                                <img src="./Dr. Rahul Damle - Orthopedist in Apollo Pune _ Credihealth_files/credi-hall-bd314c1bdc3852fff964332b82f738c3e3f9d9c1898479a6d885cfd1fa2fa8d3.jpg" width="100%">
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="col-md-12">
                                <span style="color:#373534;"><center> On this World Heart Day, Credihealth brings to you a list of most trusted hospitals across major Indian cities based on our website data.</center></span>
                            </div>
                            <div class="clearfix"></div>
                            <br>
                            <div class="col-md-12">
                                <span style="text-decoration:underline;"><center><b>View List</b></center> </span>
                            </div>
                        </a>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/Content/css/application.css" rel="stylesheet" />
    <link href="~/Content/css/doctors.css" rel="stylesheet" />

    <script src="./Dr. Rahul Damle - Orthopedist in Apollo Pune _ Credihealth_files/bootstrap.min.js.download" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" async=""></script>


</body>
</html>