 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div >
    <div class="col-md-12" >
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2">
            <img class="img-circle" src="~/Content/images/doctor-4.jpg" style="height:180px" />
      
        </div>

        <div class="col-lg-4">
            <div>
                name
            </div>
            <div>
                qualification
            </div>
            <div>
                address
            </div>

        </div>

        <div class="col-lg-2"> </div>
        <div class="col-lg-2">
            <input type="submit" value="Consult Now" />

        </div>
    </div>

</div>