
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>
        Indian Spinal Injuries Centre in New Delhi - Overview | Credihealth
    </title>
    <meta name="description" content="Get detailed information about Indian Spinal Injuries Centre in New Delhi. Indian Spinal Injuries Centre is a Super Speciality in New Delhi.
View list of doctors, OPD schedule and book appointment online on Credihealth." />
    <meta name="keywords" content=" indian spinal injuries centre, new delhi, indian spinal injuries centre, vasant kunj ">

    <meta name="robots" content="index, follow">

    <meta content="L+fLFn/E/601aENCSEoKV3FzGg1mGny6NgYmfEROT4M=" name="csrf-token">


    <link rel="canonical" href="https://www.credihealth.com/hospital/indian-spinal-injuries-centre-vasant-kunj/overview">

    <meta name="theme-color" content="#e6c200">

    <!-- only for search listing -->



    <meta name="distribution" content="Global">
    <meta http-equiv="Cache-control" content="public">

    <meta name="google" value="notranslate">

    <meta property="og:site_name" content="Credihealth">
    <meta property="og:site" content="www.credihealth.com">

    <meta property="og:image" content="asset_path('credihealth-favicon.png')">
    <meta property="og:type" content="website">

    <meta property="og:description" content="Get detailed information about Indian Spinal Injuries Centre in New Delhi. Indian Spinal Injuries Centre is a Super Speciality in New Delhi.
View list of doctors, OPD schedule and book appointment online on Credihealth.">

    <meta property="og:title" content="Indian Spinal Injuries Centre in New Delhi - Overview | Credihealth">

    <meta property="og:url" content="https://www.credihealth.com/hospital/indian-spinal-injuries-centre-vasant-kunj/overview">

    <meta name="msvalidate.01" content="C6AB6FC69ED2A88E20462E53770748D6">

    <meta name="p:domain_verify" content="53c6027da9e2542b0e0464c1286bc083">

    <meta property="fb:app_id" content="400600743405293">

    <meta property="fb:page_id" content="567313199989914">

    <meta name="twitter:card" content="summary">

    

    <meta name="twitter:title" content="Indian Spinal Injuries Centre in New Delhi - Overview | Credihealth">

    <meta name="twitter:image" content="https://img3.credihealth.com/images/credihealth-favicon.png">

    <meta name="twitter:description" content="Get detailed information about Indian Spinal Injuries Centre in New Delhi. Indian Spinal Injuries Centre is a Super Speciality in New Delhi.
View list of doctors, OPD schedule and book appointment online on Credihealth.">

    <meta itemprop="name" content="Indian Spinal Injuries Centre in New Delhi - Overview | Credihealth">

    <meta itemprop="description" content="Get detailed information about Indian Spinal Injuries Centre in New Delhi. Indian Spinal Injuries Centre is a Super Speciality in New Delhi.
View list of doctors, OPD schedule and book appointment online on Credihealth.">

    <meta itemprop="image" content="asset_path('credihealth-favicon.png')">

    <meta name="alexaVerifyID" content="qJPgfR0Xx4EKlxB0uj4_0sdmKAI">

    <meta name="yandex-verification" content="69b33a9e477c1a3b">

    <meta name="csrf-param" content="authenticity_token">

    <meta name="csrf-token" content="j4IxDkyh+HeOREkvK1R1PDk2Q6qEqa1Y5MgIjw8fGFmkyB8X4FBzHLw43QapwoQOsVZaujdiOASRrjoCybSczQ==">

    <link rel="shortcut icon" type="image/x-icon" href="/assets/credihealth-favicon-769080f91bb247ff809f53bf81e0b61b568b88640cd2c55058c18a9ff7c92abd.png" />
    <link href="~/Content/css/hosbootstrap.min.css" rel="stylesheet" />
    
    <script src="/assets/application-5943ea1db40ac2ca41b48acb861559b6f8ea9c0164b82aa8ab1c2641b5915eb9.js"></script>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="ym3XsG/tdw1xbIPV+EwZRAaAepnw/qG+/kHFoflro2FCE8Ar+79tBbibqqbNkOUGIKHwTUtOyiFAZzJRsIaD8w==" />
    <!--	<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-44747249-1', 'auto');
    ga('send', 'pageview');
    -->
    <script type="text/javascript">

var city = 'India';
var isMobileDevice = 'no';
    </script>


    <link rel="manifest" href="/manifest.json">
    <script type="text/javascript" src="https://cdn.moengage.com/webpush/moe_webSdk.min.latest.js"></script>
    <script type="text/javascript"> Moengage = moe( { app_id: "W6SCRRT6KJF669NKRZ7VUGGL", debug_logs: 0 }); </script>



    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-P2CWXV');</script>
    <!-- End Google Tag Manager -->


</head>
<body oncopy="return false" oncut="return false">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2CWXV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="col-md-12 col-lg-12">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header col-md-2 col-lg-2">
                <a class="navbar-brand" href="/">
                    <img alt="Credihealth - The Healthcare Answer" src="/assets/new_credihealth_logo-f36c1140be98b2f20a0bb220428b30536dd9e7d655ba74b1b4704a9a7aa7dfb2.png" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-8 col-lg-8">
                <form class="navbar-form pull-left" role="form" data-toggle="validator_1" autocomplete="off" action="/search" accept-charset="UTF-8" method="get">
                    <input name="utf8" type="hidden" value="&#x2713;" />
                    <input type="hidden" name="type" id="type" value="doctors" />
                    <div class="form-group">
                        <input type="hidden" name="type" id="type" value="doctors" />
                        <input type="text" name="city" id="locSearch" value="India" class="form-control" />
                        <input type="text" name="q" id="txtSearch" value="" class="form-control header-search" placeholder="Search Doctor, Hospital, Speciality or Treatment" required="required" />
                        <div style="display:none;" id="search_results">
                            <div style="display:none" id="no_result"></div>
                            <div id="heading_docs" class="suggest_heading">
                                Doctors
                            </div>
                            <ul class="suggest_ul" id="auto_suggest_docs"></ul>
                            <div id="heading_hosps" class="suggest_heading"> Hospitals </div>
                            <ul class="suggest_ul" id="auto_suggest_hosps"></ul>

                            <div id="heading_procs" class="suggest_heading"> Procedures </div>
                            <ul class="suggest_ul" id="auto_suggest_procs"></ul>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-yellow form-control" style="width:100px;font-weight: bold;">SEARCH</button>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right col-md-2 col-lg-2">
                <li class=""><a href="/users/sign_in">Login</a></li>
            </ul>
            <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <style>
        .dropdown-menu {
            min-width: 38%;
        }

        .navbar-inverse {
            background-color: #373534 !important;
            border-color: #373534 !important;
        }
    </style>

    <div style="height:55px;"></div>
    <div style="min-width: 1260px; max-width: 1366; margin: 0 auto;">
        <div class="clearfix">
        </div>
        <div class="breadcrumb-container" style="padding-left: 3%; margin-top: 1%; margin-bottom: 1%;">
            <h5 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="https://www.credihealth.com/"><span itemprop="title">Home</span></a>
            </h5>
            <span class="no-margin pull-left">
                &nbsp;/&nbsp;
            </span>
            <h5 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="/hospitals/india/all"><span itemprop='title'>Hospitals</span></a>
            </h5>
            <span class="no-margin pull-left">
                &nbsp;/&nbsp;
            </span>
            <h5 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="/hospital/indian-spinal-injuries-centre-vasant-kunj/overview"><span itemprop="title">Indian Spinal Injuries Centre, Vasant Kunj</span></a>
            </h5>
            <span class="no-margin pull-left">
                &nbsp;/&nbsp;
            </span>
            <h5 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                <a itemprop="url" href="/hospital/indian-spinal-injuries-centre-vasant-kunj/overview"><span itemprop="title">Overview</span></a>
            </h5>
        </div>
        <div class="clearfix">
        </div>



        <div itemscope itemtype="https://schema.org/Hospital">
            <div class="container">
                <div ng-class="col-md-12">
                    <div style="position:relative;">
                        <img class="hospital-profile-head" src="https://cdn.credihealth.com/system/images/assets/16733/original/icon.jpg?1472896947" alt="Icon" />
                        <div>
                            <div class="col-md-12" style="position: absolute;top: 30%;left: 3%;">
                                <img itemprop="logo" src="https://cdn.credihealth.com/system/images/assets/11677/original/icon.jpg?1472905054" class="credi-image-box image-circle-desk" alt="">
                            </div>
                        </div>
                        <div class="hospital-profile-gradient">
                            <div class="col-md-9" style="margin-top:2%;">
                                <div class="hosp-name credi-h2-font no-margin">
                                    Indian Spinal Injuries Centre, Vasant Kunj
                                    <!-- <div itemprop="name" class="hosp-name" style="line-height: 1.1;">
                                    Indian Spinal Injuries Centre, Vasant Kunj
                                    </div> -->
                                </div>
                                <meta itemprop="url" content="https://www.credihealth.com/hospital/indian-spinal-injuries-centre-vasant-kunj/overview">
                                <div itemprop="address" class="hosp-text-color">
                                    Sector C, Vasant Kunj, New Delhi, Delhi, 110070, india
                                </div>
                                <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                    <span itemprop="longitude">
                                        77.1454007
                                    </span>
                                    <span itemprop="latitude">
                                        28.5378671
                                    </span>

                                </div>
                            </div>
                            <div class="col-md-3" style="margin-top:2%;">
                                <div class="col-md-12" style="color: white;">
                                    <b><center>Accreditations</center></b>
                                </div>
                                <div style="float:left;">
                                    <span>
                                        <img class="hospital-profile-acrredition1" alt="NABH" src="https://cdn.credihealth.com/system/images/assets/17068/original/icon.png?1472900967" />
                                    </span>
                                    <span>
                                        <img class="hospital-profile-acrredition1" alt="NABL" src="https://cdn.credihealth.com/system/images/assets/17069/original/icon.png?1472900172" />
                                    </span>
                                </div>
                                <!-- <div>
                                <span>+ More</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="fullwidth">
                    <div id="hosp_profilelist">
                        <div style="background-color:#ffffff;">
                            <div class="text-center">
                                <div class="col-md-2 credi-bx-tab activemenu">
                                    <a class="credi-txt-clr credi-h4-font" href="/hospital/indian-spinal-injuries-centre-vasant-kunj/overview">Overview</a>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="col-md-2 credi-bx-tab ">
                                    <a class="credi-txt-clr credi-h4-font" href="/hospital/indian-spinal-injuries-centre-vasant-kunj/procedures">Procedures</a>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="col-md-2 credi-bx-tab ">
                                    <a class="credi-txt-clr credi-h4-font" href="/hospital/indian-spinal-injuries-centre-vasant-kunj/doctors">Doctor List</a>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="col-md-2 credi-bx-tab ">
                                    <a class="credi-txt-clr credi-h4-font" href="/hospital/indian-spinal-injuries-centre-vasant-kunj/appointment">Show Contact</a>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="col-md-2 credi-bx-tab ">
                                    <a class="credi-txt-clr credi-h4-font" href="/hospital/indian-spinal-injuries-centre-vasant-kunj/packages">Packages</a>
                                </div>
                            </div>
                            <div class="text-center">
                                <div class="col-md-2 credi-bx-tab ">
                                    <a class="credi-txt-clr credi-h4-font" href="/hospital/indian-spinal-injuries-centre-vasant-kunj/gallery">Gallery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <br />
            <div>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS8qh6uGb50ptwK-4pPRwg8lO-rupVA4U&libraries=geometry&sensor=false"></script>
                <div class="container">
                    <div class="col-md-12 credi-box">
                        <div>
                            <h2 class="credi-h2-font"> Introduction </h2>
                            <div itemprop="description" style="font-size: 13px;display:inline;">
                                Established in 1997, Indian Spinal Injuries Centre located in New Delhi is a super speciality hospital offering a wide spectrum of advanced medical treatments to its patients. Indian Spinal Injuries Centre offers state-of-the-art infrastructure and is technologically up to date. It has a great team of qualified doctors available around the clock and emergency services. Staff members make sure patients are given the best of medical care. Indian Spinal Injuries Centre consists of an experienced team of skilled professionals, aimed to provide the quality healthcare in every medical department. The centre focuses on super speciality services in the field of Spine Surgery, Orthopaedics, Rheumatology, Neurology, Rehabilitation, Urology, and Plastic Surgery.
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12 credi-box">
                        <h2 class="credi-h2-font">Accreditations </h2>
                        <div>
                            <div class="col-md-12">
                                <div class="col-md-3" style="padding: 10px;">
                                    <img class="hospital-profile-acrredition1" src="https://cdn.credihealth.com/system/images/assets/17068/original/icon.png?1472900967" alt="Icon" />
                                    &nbsp;NABH
                                </div>
                                <div class="col-md-3" style="padding: 10px;">
                                    <img class="hospital-profile-acrredition1" src="https://cdn.credihealth.com/system/images/assets/17069/original/icon.png?1472900172" alt="Icon" />
                                    &nbsp;NABL
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />

                    <div class="col-md-12 credi-box">
                        <h2 class="credi-h2-font"> Services </h2>
                        <div>
                            <div itemprop="hasOfferCatalog" itemscope="" itemtype="https://schema.org/OfferCatalog" class="col-md-12">
                                <div class="col-md-3" style="padding:10px;">
                                    <img class="hospital-profile-service-icon" src="https://cdn.credihealth.com/system/images/assets/17103/original/parking.png?1474633738" alt="Parking" />
                                    <span itemprop="name"> &nbsp;Parking </span>
                                </div>
                                <div class="col-md-3" style="padding:10px;">
                                    <img class="hospital-profile-service-icon" src="https://cdn.credihealth.com/system/images/assets/17109/original/medical-store-1.png?1474633710" alt="Medical store 1" />
                                    <span itemprop="name"> &nbsp;Pharmacy </span>
                                </div>
                                <div class="col-md-3" style="padding:10px;">
                                    <img class="hospital-profile-service-icon" src="https://cdn.credihealth.com/system/images/assets/17110/original/blood-bank.png?1474633751" alt="Blood bank" />
                                    <span itemprop="name"> &nbsp;Blood Bank </span>
                                </div>
                                <div class="col-md-3" style="padding:10px;">
                                    <img class="hospital-profile-service-icon" src="https://cdn.credihealth.com/system/images/assets/17111/original/fooding.png?1474634531" alt="Fooding" />
                                    <span itemprop="name"> &nbsp;Cafeteria </span>
                                </div>
                                <div class="col-md-3" style="padding:10px;">
                                    <img class="hospital-profile-service-icon" src="https://cdn.credihealth.com/system/images/assets/17113/original/amblunce.png?1474633791" alt="Amblunce" />
                                    <span itemprop="name"> &nbsp;Ambulance </span>
                                </div>
                                <div class="col-md-3" style="padding:10px;">
                                    <img class="hospital-profile-service-icon" src="https://cdn.credihealth.com/system/images/assets/17114/original/waiting.png?1474633800" alt="Waiting" />
                                    <span itemprop="name"> &nbsp;Waiting Lounge </span>
                                </div>
                                <div class="col-md-3" style="padding:10px;">
                                    <img class="hospital-profile-service-icon" src="https://cdn.credihealth.com/system/images/assets/17122/original/account.png?1474633889" alt="Account" />
                                    <span itemprop="name"> &nbsp;Money Changer </span>
                                </div>
                                <div class="col-md-3" style="padding:10px;">
                                    <img class="hospital-profile-service-icon" src="https://cdn.credihealth.com/system/images/assets/17123/original/icon.png?1472900082" alt="Icon" />
                                    <span itemprop="name"> &nbsp;Wi Fi Services </span>
                                </div>
                                <div class="col-md-3" style="padding:10px;">
                                    <img class="hospital-profile-service-icon" src="https://cdn.credihealth.com/system/images/assets/17140/original/beds.png?1474634551" alt="Beds" />
                                    <span itemprop="name"> &nbsp;Capacity :150 Beds </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12 credi-box">
                        <h2 class="credi-h2-font"> Location </h2>
                        <div class="col-md-7" id="map_canvas" style="height:300px;">
                        </div>
                        <div itemprop="address" itemscope="" itemtype="https://schema.org/PostalAddress" class="col-md-5">
                            <div class="col-xs-12 col-md-10">
                                <div itemprop="name" class="hosp-name" style="margin-left:0px;">
                                    Indian Spinal Injuries Centre, Vasant Kunj
                                </div>
                            </div>
                            <div itemprop="streetAddress" class="col-xs-12 col-md-10">
                                <span>Sector C, Vasant Kunj, New Delhi, Delhi, 110070, india</span>
                            </div>
                        </div>
                    </div>
                    <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                        <meta itemprop="latitude" content="28.5378671">
                        <meta itemprop="longitude" content="28.5378671">
                    </span>
                    <div class="clearfix"></div>
                    <br />
                </div>


                <script type="text/javascript">

$(document).ready(function () {

var latitude = 28.5378671
var longitude = 77.1454007
/* alert(latitude+" "+longitude)*/
setTimeout(function(){
var latlng = new google.maps.LatLng(latitude, longitude);
var myOptions = {
zoom: 16,
center: latlng,
mapTypeId: google.maps.MapTypeId.ROADMAP
};
map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
var createMarker = function (){
var marker = new google.maps.Marker({
map: map,
position: new google.maps.LatLng(latitude, longitude),
});
/* google.maps.event.addListener(marker, 'click', function(){
});*/
}

createMarker();

overlay = new google.maps.OverlayView();
overlay.draw = function() {}; // empty function required
overlay.setMap(map);
},1000)
})
                </script>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <br />
    <!-- Search page only -->
    </div>


    <!-- End Search page only -->



    <div class="col-md-12" style="background-color: #373534; padding: 20px 0px;">
        <div class="col-md-4">
            <img alt="Credihealth - The Healthcare Answer" style="width: 180px;" src="/assets/new_credihealth_logo-f36c1140be98b2f20a0bb220428b30536dd9e7d655ba74b1b4704a9a7aa7dfb2.png" />
            <div class="home_footer_credi_writeup_body">
                Credihealth is a medical assistance company that gives guidance to a patient from the first consultation through the entire hospitalization process. A team of in-house Credihealth doctors helps the patient find the right doctor, book appointment, request cost estimate for procedures and manage admission &amp; discharge processes.
            </div>

        </div>
        <div class="col-md-3">
            <div class="col-md-12 form-group credi-clr">Quick Link</div>
            <div class="col-md-6">
                <div>
                    <a class="home_footer_a_tags" href="/aboutus">About Us</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="/careers">Careers</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="http://blog.credihealth.com">Health Blog</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="/terms-of-usage">Terms of Usage</a>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <a class="home_footer_a_tags" href="/privacy-policy">Privacy Policy</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="/feedback">Feedback</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="/sitemap">Sitemap</a>
                </div>
                <div>
                    <a class="home_footer_a_tags" href="/contactus">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group credi-clr">Download App</div>
            <div>
                <a href=" https//play.google.com/store/apps/details?id=com.credihealth.android" class="android_app_image" target="_blank" title="Credihealth Android App"></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col-md-12 form-group credi-clr">
                Keep in Touch
            </div>
            <div class="col-md-12">
                <a class="facebook_follow_image" href="https://www.facebook.com/credihealth" target="_blank" title="Facebook"></a>
                <a class="google_plus_follow_image" href="https://plus.google.com/+Credihealth" title="Google+" target="_blank"></a>
                <a class="twitter_follow_image" href="https://twitter.com/credihealth" title="Twitter" target="_blank"></a>
                <a class="youtube_follow_image" href="https://www.youtube.com/user/credihealth" title="Youtube" target="_blank"></a>
            </div>
            <div class="col-md-12">
                <a class="linkedin_follow_image" href="https://in.linkedin.com/company/credihealth" title="Linkedin" target="_blank"></a>
                <a class="pinterest_follow_image" href="https://www.pinterest.com/credihealth/" title="Pinterest" target="_blank"></a>
                <a class="blog_follow_image" href="http://blog.credihealth.com/" title="Blog" target="_blank"></a>
                <a class="instagram_follow_image" href="https://instagram.com/credihealth/" title="Instagram" target="_blank"></a>
            </div>
        </div>

    </div>
    <div style="clear:both;"></div>
    <div style="margin: 25px;">
        <center>
            Credihealth Pvt. Ltd. - 463, Udyog Vihar Phase V, Gurgaon, Haryana-122016<br />
            Copyright 2013-16 © Credi Health Private Limited. All rights Reserved.
        </center>
    </div>
    <!-- Facebook Pixel Code for remarketing -->
    <!-- Google Code for visit Conversion Page -->
    <div id="dynamic_modal" class="col-md-12">
        <div class="modal fade" id="credi_hall_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content credi-txt-clr">
                    <div class="modal-header" style="background-color: #ffd700;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            <center>Credihealth Hall of Fame - Cardiology Hospitals</center>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <a target="_blank" href="http://blog.credihealth.com/trusted-cardiology-hospitals-india-2016">
                            <div class="col-md-12">
                                <img src="/assets/credi-hall-bd314c1bdc3852fff964332b82f738c3e3f9d9c1898479a6d885cfd1fa2fa8d3.jpg" width="100%">
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12">
                                <span style="color:#373534;"><center> On this World Heart Day, Credihealth brings to you a list of most trusted hospitals across major Indian cities based on our website data.</center></span>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12">
                                <span style="text-decoration:underline;"><center><b>View List</b></center> </span>
                            </div>
                        </a>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <link href="~/Content/css/hospitals.css" rel="stylesheet" />
    <link href="~/Content/css/application.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" async></script>

</body>
</html>
