
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Index</h2>

@{
    Html.RenderPartial("header");
    }


<!DOCTYPE html>
<html lang="en">
<head>


    <title>
        Top  Hospitals in India  | Credihealth
    </title>
    <meta name="description" content="View details of top hospitals in India. Get guidance from medical experts to select best hospital in India" />
    <meta name="keywords" content="hospitals in india, hospital for in india ">

    @*<link rel="shortcut icon" type="image/x-icon" href="/assets/credihealth-favicon-769080f91bb247ff809f53bf81e0b61b568b88640cd2c55058c18a9ff7c92abd.png" />*@
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    @*<script src="/assets/application-5943ea1db40ac2ca41b48acb861559b6f8ea9c0164b82aa8ab1c2641b5915eb9.js"></script>*@
    
    
    <link rel="manifest" href="/manifest.json">
    <script type="text/javascript" src="https://cdn.moengage.com/webpush/moe_webSdk.min.latest.js"></script>
    
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.1.118/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2017.1.118/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.118/js/kendo.all.min.js"></script>



    <script type="text/javascript">
    var dSource = "";
    $(document).ready(function () {
        debugger;



        dSource = new kendo.data.DataSource({
            pageSize: 5,
            transport: {
                read: {
                    dataType: "json",
                    crossDomain: true,
                    url: "http://localhost:64181/Hospital",
                    type: "GET",
                }
            },
        });


      


        var pager = $("#pager").kendoPager({
            dataSource: dSource
        }).data("kendoPager");


        $("#listView").kendoListView({
            dataSource: dSource,
            template: kendo.template($("#template").html())
        });







    });

  

    </script>




    

</head>
<body oncopy="return false" oncut="return false">

  
  
    <style>
        .dropdown-menu {
            min-width: 38%;
        }

        .navbar-inverse {
            background-color: #373534 !important;
            border-color: #373534 !important;
        }
    </style>

    <div style="height:55px;"></div>
    <div style="margin: 0 auto;">

        @*<script src="/assets/search-f20f9b91c68ae03b76602648dec09ff02ad4aefb16039a07b039b9f7639beeb9.js"></script>*@

        <div class="well" style="margin-bottom: 0px;">


            <div class="col-md-3">
                <div class="credi-box text-uppercase">
                    <div class="summary-link ">
                        <div>
                            <span class="search_page_doctors" style="padding-top:0px;"></span>&nbsp;
                            <a class="credi-txt-clr" style="position: relative;    top: 4px;" href="/doctors/india/all">Doctors - 12175</a>
                        </div>
                    </div>
                    <div class="summary-link active_filter">
                        <div>
                            <span class="search_page_hospital"></span>&nbsp;
                            <a class="credi-txt-clr" style="position: relative;    top: 4px;" href="/hospitals/india/all">Hospitals - 539</a>
                        </div>
                    </div>
                    <div class="summary-link ">
                        <div>
                            <span class="search_page_procedure"></span>&nbsp;
                            <a class="credi-txt-clr" style="position: relative;    top: 4px;" href="/procedures/all">Procedures - 233</a>
                        </div>
                    </div>

                    <div class="summary-link ">
                        <div>
                            <span class="search_page_article"></span>&nbsp;
                            <a class="credi-txt-clr" style="position: relative;    top: 4px;" href="/articles/all">Articles</a>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
                <br />
                <!-- Talk to medical experts div -->
                <div class="col-md-12 credi-box">
                    <div style="width:20%;float:left;">
                        <span class="sprite_consultant"></span>
                    </div>
                    <div style="width:80%;float:right;">
                        <span style="font-size:14px;text-transform:capitalize;"><b>Talk to our Medical Experts</b></span>
                        <br />
                        &nbsp;&nbsp;<span class="sprite_call"></span><span class="credi-h3-font" style="font-weight:700">1800-1022-733</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <!-- Talk to medical experts div ends here -->

                <div class="col-md-12 credi-box">
                    <div style="font-weight: bold;padding-bottom:10px; border-bottom: 1px solid #c1c1c1;font-size:14px;">Filter your search</div>




                </div>

            </div>

            <!-- Results Div -->
            <div class="col-md-6 no-padding">
                <div>

                    <div class="col-md-12 credi-box">
                        <h1 class="credi-h2-font no-margin">
                            All Hospitals in

                            India


                        </h1>
                        Matches Found: <b> <span> 539</span></b>

                        <span class="pull-right">
                            SORT BY: <a class="sort_active" href="/hospitals/india/all">Best Match</a> |
                            <a rel="nofollow" href="/hospitals/india/all?sort=alphabetical">A-Z</a>
                        </span>

                        <div class="top_filter_container">
                        </div>
                    </div>

                    <div itemscope="" itemtype="https://schema.org/Hospital">
                        <div class="clearfix"></div>
                        <div class="credi-box-space"></div>
                        <div class="col-md-12 credi-box" style="font-size: 13px;">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-3 no-padding">
                                    <div class="appointment_widget_doctor_image">
                                        <img itemprop="photo" href="/hospital/aakash-hospital-malviya-nagar/overview" src="https://cdn.credihealth.com/system/images/assets/15138/original/icon.jpg?1472902690" , class="appointment_widget_doctor_image" , alt="Aakash Hospital, Malviya Nagar" title="Aakash Hospital">
                                    </div>
                                </div>
                                <div class="col-md-9 no-padding">
                                    <h2 class="credi-h3-font">
                                        <a href="/hospital/aakash-hospital-malviya-nagar/overview" itemprop="url" class="credi-lnk-clr"> <span itemprop="name"> Aakash Hospital, Malviya Nagar </span></a>

                                    </h2>
                                    <div itemprop="description">
                                        <p>Established in 2004, Aakash Hospital located in New Delhi is a multi speciality hospital offering a wide spectrum of advanced medical treatments to its patients. Aakash Hospital offers state-of-...
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 no-padding">

                                <div class="col-md-9 no-padding" style="margin-top:10px;">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_stethescope"></span>
                                        </div>
                                        <div class="col-md-10 no-padding form-group" itemprop="medicalSpecialty" itemscope="" itemtype="https://schema.org/MedicalSpecialty">

                                            <span itemprop="name"> Gastroenterology</span>
                                            ,
                                            <span itemprop="name"> Dietary</span>
                                            ,
                                            <span itemprop="name"> Endocrinology</span>
                                            ,
                                            <span itemprop="name"> Cardiology</span>

                                        </div>
                                    </div>
                                    <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                        <span itemprop="longitude">
                                            77.2146505

                                        </span>
                                        <span itemprop="latitude">
                                            28.5349915

                                        </span>

                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_injection"></span>
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            Abdominal Myomectomy, Ovary Removal Surgery, Abdominal Hysterectomy, Fetal Echocardiography, Micr...
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 form-group no-padding">
                                    <a class="btn credi-bclr" target="_blank" style="margin-bottom: 10px; width: 100%;font-weight: 600;" href="/hospital/aakash-hospital-malviya-nagar/overview">View Profile</a>
                                    <a class="btn credi-bclr" style="width: 100%;font-weight: 600;" data-remote="true" href="/hospital/aakash-hospital-malviya-nagar/appointment">Consult Now</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div itemscope="" itemtype="https://schema.org/Hospital">
                        <div class="clearfix"></div>
                        <div class="credi-box-space"></div>
                        <div class="col-md-12 credi-box" style="font-size: 13px;">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-3 no-padding">
                                    <div class="appointment_widget_doctor_image">
                                        <img itemprop="photo" href="/hospital/aashlok-hospital-fortis-associate-delhi/overview" src="https://cdn.credihealth.com/system/images/assets/11429/original/icon.jpg?1472900875" , class="appointment_widget_doctor_image" , alt="Aashlok Hospital Fortis Associate, Delhi" title="Aashlok Hospital Fortis Associate">
                                    </div>
                                </div>
                                <div class="col-md-9 no-padding">
                                    <h2 class="credi-h3-font">
                                        <a href="/hospital/aashlok-hospital-fortis-associate-delhi/overview" itemprop="url" class="credi-lnk-clr"> <span itemprop="name"> Aashlok Hospital Fortis Associate, Delhi </span></a>

                                    </h2>
                                    <div itemprop="description">
                                        <p>Established in 2012, Aashlok Hospital, A Fortis Associate located in Safdarjung Road, New Delhi is a multi speciality centreoffering a wide spectrum of advanced medical treatments to its patient...
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 no-padding">

                                <div class="col-md-9 no-padding" style="margin-top:10px;">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_stethescope"></span>
                                        </div>
                                        <div class="col-md-10 no-padding form-group" itemprop="medicalSpecialty" itemscope="" itemtype="https://schema.org/MedicalSpecialty">

                                            <span itemprop="name"> Cardiology Electrophysiology</span>
                                            ,
                                            <span itemprop="name"> Cardiology</span>
                                            ,
                                            <span itemprop="name"> Cardiac Surgery</span>
                                            ,
                                            <span itemprop="name"> Obstetrics and Gynaecology</span>

                                        </div>
                                    </div>
                                    <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                        <span itemprop="longitude">
                                            77.1911547

                                        </span>
                                        <span itemprop="latitude">
                                            28.5632857

                                        </span>

                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_injection"></span>
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            Abdominal Myomectomy, Ovary Removal Surgery, Abdominal Hysterectomy, Fetal Echocardiography, Peri...
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 form-group no-padding">
                                    <a class="btn credi-bclr" target="_blank" style="margin-bottom: 10px; width: 100%;font-weight: 600;" href="/hospital/aashlok-hospital-fortis-associate-delhi/overview">View Profile</a>
                                    <a class="btn credi-bclr" style="width: 100%;font-weight: 600;" data-remote="true" href="/hospital/aashlok-hospital-fortis-associate-delhi/appointment">Consult Now</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div itemscope="" itemtype="https://schema.org/Hospital">
                        <div class="clearfix"></div>
                        <div class="credi-box-space"></div>
                        <div class="col-md-12 credi-box" style="font-size: 13px;">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-3 no-padding">
                                    <div class="appointment_widget_doctor_image">
                                        <img itemprop="photo" href="/hospital/aastha-health-care-mulund/overview" src="https://cdn.credihealth.com/system/images/assets/11801/original/icon.jpg?1472905447" , class="appointment_widget_doctor_image" , alt="Aastha Health Care,  Mulund" title="Aastha Health Care">
                                    </div>
                                </div>
                                <div class="col-md-9 no-padding">
                                    <h2 class="credi-h3-font">
                                        <a href="/hospital/aastha-health-care-mulund/overview" itemprop="url" class="credi-lnk-clr"> <span itemprop="name"> Aastha Health Care,  Mulund </span></a>

                                    </h2>
                                    <div itemprop="description">
                                        Established in 2005, Aastha Health Care located in Mumbai is a super speciality centre that has completed over 200 painless stapler surgeries for piles. The hospital has also installed the first Ha...
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 no-padding">

                                <div class="col-md-9 no-padding" style="margin-top:10px;">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_stethescope"></span>
                                        </div>
                                        <div class="col-md-10 no-padding form-group" itemprop="medicalSpecialty" itemscope="" itemtype="https://schema.org/MedicalSpecialty">

                                            <span itemprop="name"> Cardiology</span>
                                            ,
                                            <span itemprop="name"> Neurology</span>
                                            ,
                                            <span itemprop="name"> Dermatology</span>
                                            ,
                                            <span itemprop="name"> Dental Surgery</span>

                                        </div>
                                    </div>
                                    <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                        <span itemprop="longitude">
                                            72.9349833

                                        </span>
                                        <span itemprop="latitude">
                                            19.168869

                                        </span>

                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_injection"></span>
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            Abdominal Myomectomy, Ovary Removal Surgery, Abdominal Hysterectomy, Urethrotomy, Fetal Echocardi...
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 form-group no-padding">
                                    <a class="btn credi-bclr" target="_blank" style="margin-bottom: 10px; width: 100%;font-weight: 600;" href="/hospital/aastha-health-care-mulund/overview">View Profile</a>
                                    <a class="btn credi-bclr" style="width: 100%;font-weight: 600;" data-remote="true" href="/hospital/aastha-health-care-mulund/appointment">Show Contact</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div itemscope="" itemtype="https://schema.org/Hospital">
                        <div class="clearfix"></div>
                        <div class="credi-box-space"></div>
                        <div class="col-md-12 credi-box" style="font-size: 13px;">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-3 no-padding">
                                    <div class="appointment_widget_doctor_image">
                                        <img itemprop="photo" href="/hospital/action-cancer-hospital-paschim-vihar/overview" src="https://cdn.credihealth.com/system/images/assets/15207/original/icon.jpg?1472904728" , class="appointment_widget_doctor_image" , alt="Action Cancer Hospital, Paschim Vihar" title="Action Cancer Hospital">
                                    </div>
                                </div>
                                <div class="col-md-9 no-padding">
                                    <h2 class="credi-h3-font">
                                        <a href="/hospital/action-cancer-hospital-paschim-vihar/overview" itemprop="url" class="credi-lnk-clr"> <span itemprop="name"> Action Cancer Hospital, Paschim Vihar </span></a>

                                    </h2>
                                    <div itemprop="description">
                                        Established in 2010, Action Cancer Hospital located in Paschim Vihar, New Delhi is a 150 bedded super speciality hospital offering a wide spectrum of advanced medical treatments to its patients. Th...
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 no-padding">

                                <div class="col-md-9 no-padding" style="margin-top:10px;">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_stethescope"></span>
                                        </div>
                                        <div class="col-md-10 no-padding form-group" itemprop="medicalSpecialty" itemscope="" itemtype="https://schema.org/MedicalSpecialty">

                                            <span itemprop="name"> Surgical Oncology</span>
                                            ,
                                            <span itemprop="name"> Medical Oncology</span>
                                            ,
                                            <span itemprop="name"> Nuclear Medicine</span>
                                            ,
                                            <span itemprop="name"> Radiation Oncology</span>

                                        </div>
                                    </div>
                                    <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                        <span itemprop="longitude">
                                            77.11259099999999

                                        </span>
                                        <span itemprop="latitude">
                                            28.673309

                                        </span>

                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_injection"></span>
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            Lung Cancer Surgery, Tummy Tuck Surgery, Hair Transplant, Body Contouring Surgery, Mammography, E...
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 form-group no-padding">
                                    <a class="btn credi-bclr" target="_blank" style="margin-bottom: 10px; width: 100%;font-weight: 600;" href="/hospital/action-cancer-hospital-paschim-vihar/overview">View Profile</a>
                                    <a class="btn credi-bclr" style="width: 100%;font-weight: 600;" data-remote="true" href="/hospital/action-cancer-hospital-paschim-vihar/appointment">Show Contact</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div itemscope="" itemtype="https://schema.org/Hospital">
                        <div class="clearfix"></div>
                        <div class="credi-box-space"></div>
                        <div class="col-md-12 credi-box" style="font-size: 13px;">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-3 no-padding">
                                    <div class="appointment_widget_doctor_image">
                                        <img itemprop="photo" href="/hospital/aditya-birla-memorial-hospital-pune/overview" src="https://cdn.credihealth.com/system/images/assets/15328/original/icon.jpg?1472903022" , class="appointment_widget_doctor_image" , alt="Aditya Birla Memorial Hospital, Pune" title="Aditya Birla Memorial Hospital">
                                    </div>
                                </div>
                                <div class="col-md-9 no-padding">
                                    <h2 class="credi-h3-font">
                                        <a href="/hospital/aditya-birla-memorial-hospital-pune/overview" itemprop="url" class="credi-lnk-clr"> <span itemprop="name"> Aditya Birla Memorial Hospital, Pune </span></a>

                                    </h2>
                                    <div itemprop="description">
                                        Established in 2006, Aditya Birla Memorial Hospital located in Chinchwad, Pune is a 500 bedded multi speciality hospital offering a wide spectrum of advanced medical treatments to its patients. The...
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 no-padding">

                                <div class="col-md-9 no-padding" style="margin-top:10px;">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_stethescope"></span>
                                        </div>
                                        <div class="col-md-10 no-padding form-group" itemprop="medicalSpecialty" itemscope="" itemtype="https://schema.org/MedicalSpecialty">

                                            <span itemprop="name"> Gastroenterology</span>
                                            ,
                                            <span itemprop="name"> Critical Care</span>
                                            ,
                                            <span itemprop="name"> Dietary</span>
                                            ,
                                            <span itemprop="name"> Emergency and Trauma</span>

                                        </div>
                                    </div>
                                    <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                        <span itemprop="longitude">
                                            73.7656094

                                        </span>
                                        <span itemprop="latitude">
                                            18.615727

                                        </span>

                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_injection"></span>
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            Abdominal Myomectomy, Ovary Removal Surgery, Piles Surgery, Abdominal Hysterectomy, Urethrotomy, ...
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 form-group no-padding">
                                    <a class="btn credi-bclr" target="_blank" style="margin-bottom: 10px; width: 100%;font-weight: 600;" href="/hospital/aditya-birla-memorial-hospital-pune/overview">View Profile</a>
                                    <a class="btn credi-bclr" style="width: 100%;font-weight: 600;" data-remote="true" href="/hospital/aditya-birla-memorial-hospital-pune/appointment">Show Contact</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div itemscope="" itemtype="https://schema.org/Hospital">
                        <div class="clearfix"></div>
                        <div class="credi-box-space"></div>
                        <div class="col-md-12 credi-box" style="font-size: 13px;">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-3 no-padding">
                                    <div class="appointment_widget_doctor_image">
                                        <img itemprop="photo" href="/hospital/aditya-hospitals-uppal/overview" src="https://cdn.credihealth.com/system/images/assets/11739/original/icon.jpg?1472905023" , class="appointment_widget_doctor_image" , alt="Aditya Hospitals, Uppal" title="Aditya Hospitals">
                                    </div>
                                </div>
                                <div class="col-md-9 no-padding">
                                    <h2 class="credi-h3-font">
                                        <a href="/hospital/aditya-hospitals-uppal/overview" itemprop="url" class="credi-lnk-clr"> <span itemprop="name"> Aditya Hospitals, Uppal </span></a>

                                    </h2>
                                    <div itemprop="description">
                                        Established in 1987, Aditya Hospitals located in Hyderabad is a multi speciality hospital offering a wide spectrum of advanced medical treatments to its patients. Aditya Hospitals offers state-of-t...
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 no-padding">

                                <div class="col-md-9 no-padding" style="margin-top:10px;">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_stethescope"></span>
                                        </div>
                                        <div class="col-md-10 no-padding form-group" itemprop="medicalSpecialty" itemscope="" itemtype="https://schema.org/MedicalSpecialty">

                                            <span itemprop="name"> Gastroenterology</span>
                                            ,
                                            <span itemprop="name"> Diabetology</span>
                                            ,
                                            <span itemprop="name"> Critical Care</span>
                                            ,
                                            <span itemprop="name"> Dietary</span>

                                        </div>
                                    </div>
                                    <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                        <span itemprop="longitude">
                                            88.3379688

                                        </span>
                                        <span itemprop="latitude">
                                            22.5236231

                                        </span>

                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_injection"></span>
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            Abdominal Myomectomy, Ovary Removal Surgery, Piles Surgery, Abdominal Hysterectomy, Urethrotomy, ...
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 form-group no-padding">
                                    <a class="btn credi-bclr" target="_blank" style="margin-bottom: 10px; width: 100%;font-weight: 600;" href="/hospital/aditya-hospitals-uppal/overview">View Profile</a>
                                    <a class="btn credi-bclr" style="width: 100%;font-weight: 600;" data-remote="true" href="/hospital/aditya-hospitals-uppal/appointment">Show Contact</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div itemscope="" itemtype="https://schema.org/Hospital">
                        <div class="clearfix"></div>
                        <div class="credi-box-space"></div>
                        <div class="col-md-12 credi-box" style="font-size: 13px;">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-3 no-padding">
                                    <div class="appointment_widget_doctor_image">
                                        <img itemprop="photo" href="/hospital/aditya-hospitals-abids/overview" src="https://cdn.credihealth.com/system/images/assets/11740/original/icon.jpg?1472905041" , class="appointment_widget_doctor_image" , alt="Aditya Hospitals, Abids" title="Aditya Hospitals">
                                    </div>
                                </div>
                                <div class="col-md-9 no-padding">
                                    <h2 class="credi-h3-font">
                                        <a href="/hospital/aditya-hospitals-abids/overview" itemprop="url" class="credi-lnk-clr"> <span itemprop="name"> Aditya Hospitals, Abids </span></a>

                                    </h2>
                                    <div itemprop="description">
                                        Established in 1987, Aditya Hospital located in Abids, Hyderabad is a multi speciality centre offering a wide spectrum of advanced medical treatments to its patients. Aditya Hospital offers state-o...
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 no-padding">

                                <div class="col-md-9 no-padding" style="margin-top:10px;">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_stethescope"></span>
                                        </div>
                                        <div class="col-md-10 no-padding form-group" itemprop="medicalSpecialty" itemscope="" itemtype="https://schema.org/MedicalSpecialty">

                                            <span itemprop="name"> Gastroenterology</span>
                                            ,
                                            <span itemprop="name"> Endocrinology</span>
                                            ,
                                            <span itemprop="name"> Cardiology</span>
                                            ,
                                            <span itemprop="name"> Neurology</span>

                                        </div>
                                    </div>
                                    <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                        <span itemprop="longitude">
                                            78.481084

                                        </span>
                                        <span itemprop="latitude">
                                            17.390546

                                        </span>

                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_injection"></span>
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            Abdominal Myomectomy, Ovary Removal Surgery, Abdominal Hysterectomy, Urethrotomy, Fetal Echocardi...
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 form-group no-padding">
                                    <a class="btn credi-bclr" target="_blank" style="margin-bottom: 10px; width: 100%;font-weight: 600;" href="/hospital/aditya-hospitals-abids/overview">View Profile</a>
                                    <a class="btn credi-bclr" style="width: 100%;font-weight: 600;" data-remote="true" href="/hospital/aditya-hospitals-abids/appointment">Show Contact</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div itemscope="" itemtype="https://schema.org/Hospital">
                        <div class="clearfix"></div>
                        <div class="credi-box-space"></div>
                        <div class="col-md-12 credi-box" style="font-size: 13px;">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-3 no-padding">
                                    <div class="appointment_widget_doctor_image">
                                        <img itemprop="photo" href="/hospital/adiva-super-speciality-care-green-park/overview" src="https://cdn.credihealth.com/system/images/assets/11913/original/icon.jpg?1472896563" , class="appointment_widget_doctor_image" , alt="ADIVA Super Speciality Care, Green Park" title="ADIVA Super Speciality Care">
                                    </div>
                                </div>
                                <div class="col-md-9 no-padding">
                                    <h2 class="credi-h3-font">
                                        <a href="/hospital/adiva-super-speciality-care-green-park/overview" itemprop="url" class="credi-lnk-clr"> <span itemprop="name"> ADIVA Super Speciality Care, Green Park </span></a>

                                    </h2>
                                    <div itemprop="description">
                                        Established in 2012, ADIVA Super Speciality Care located in Green park, New Delhi is a multi speciality hospital offering a wide spectrum of advanced medical treatments to its patients. ADIVA Super...
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 no-padding">

                                <div class="col-md-9 no-padding" style="margin-top:10px;">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_stethescope"></span>
                                        </div>
                                        <div class="col-md-10 no-padding form-group" itemprop="medicalSpecialty" itemscope="" itemtype="https://schema.org/MedicalSpecialty">

                                            <span itemprop="name"> Gastroenterology</span>
                                            ,
                                            <span itemprop="name"> Endocrinology</span>
                                            ,
                                            <span itemprop="name"> General Surgery</span>
                                            ,
                                            <span itemprop="name"> Cardiology</span>

                                        </div>
                                    </div>
                                    <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                        <span itemprop="longitude">
                                            77.2568486

                                        </span>
                                        <span itemprop="latitude">
                                            28.5617508

                                        </span>

                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_injection"></span>
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            Abdominal Myomectomy, Ovary Removal Surgery, Piles Surgery, Abdominal Hysterectomy, Urethrotomy, ...
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 form-group no-padding">
                                    <a class="btn credi-bclr" target="_blank" style="margin-bottom: 10px; width: 100%;font-weight: 600;" href="/hospital/adiva-super-speciality-care-green-park/overview">View Profile</a>
                                    <a class="btn credi-bclr" style="width: 100%;font-weight: 600;" data-remote="true" href="/hospital/adiva-super-speciality-care-green-park/appointment">Consult Now</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div itemscope="" itemtype="https://schema.org/Hospital">
                        <div class="clearfix"></div>
                        <div class="credi-box-space"></div>
                        <div class="col-md-12 credi-box" style="font-size: 13px;">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-3 no-padding">
                                    <div class="appointment_widget_doctor_image">
                                        <img itemprop="photo" href="/hospital/agada-hospital-t-nagar/overview" src="https://cdn.credihealth.com/system/images/assets/15196/original/icon.jpg?1472900272" , class="appointment_widget_doctor_image" , alt="Agada Hospital, T Nagar" title="Agada Hospital">
                                    </div>
                                </div>
                                <div class="col-md-9 no-padding">
                                    <h2 class="credi-h3-font">
                                        <a href="/hospital/agada-hospital-t-nagar/overview" itemprop="url" class="credi-lnk-clr"> <span itemprop="name"> Agada Hospital, T Nagar </span></a>

                                    </h2>
                                    <div itemprop="description">
                                        Established in 1991, Agada Hospital located in T Nagar, Chennai is a multi speciality hospital offering a wide spectrum of advanced medical treatments to its patients. The hospital has state-of-the...
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 no-padding">

                                <div class="col-md-9 no-padding" style="margin-top:10px;">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_stethescope"></span>
                                        </div>
                                        <div class="col-md-10 no-padding form-group" itemprop="medicalSpecialty" itemscope="" itemtype="https://schema.org/MedicalSpecialty">

                                            <span itemprop="name"> Gastroenterology</span>
                                            ,
                                            <span itemprop="name"> Diabetology</span>
                                            ,
                                            <span itemprop="name"> Endocrinology</span>
                                            ,
                                            <span itemprop="name"> General Surgery</span>

                                        </div>
                                    </div>
                                    <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                        <span itemprop="longitude">
                                            80.24082989999999

                                        </span>
                                        <span itemprop="latitude">
                                            13.0427381

                                        </span>

                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_injection"></span>
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            Piles Surgery, Urethrotomy, Fetal Echocardiography, Direct Visual Internal Urethrotomy, Microscop...
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 form-group no-padding">
                                    <a class="btn credi-bclr" target="_blank" style="margin-bottom: 10px; width: 100%;font-weight: 600;" href="/hospital/agada-hospital-t-nagar/overview">View Profile</a>
                                    <a class="btn credi-bclr" style="width: 100%;font-weight: 600;" data-remote="true" href="/hospital/agada-hospital-t-nagar/appointment">Show Contact</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div itemscope="" itemtype="https://schema.org/Hospital">
                        <div class="clearfix"></div>
                        <div class="credi-box-space"></div>
                        <div class="col-md-12 credi-box" style="font-size: 13px;">
                            <div class="col-md-12 no-padding">
                                <div class="col-md-3 no-padding">
                                    <div class="appointment_widget_doctor_image">
                                        <img itemprop="photo" href="/hospital/agarwal-eye-hospital-goregaon/overview" src="https://cdn.credihealth.com/system/images/assets/15123/original/icon.jpg?1472901219" , class="appointment_widget_doctor_image" , alt="Agarwal Eye Hospital, Goregaon" title="Agarwal Eye Hospital">
                                    </div>
                                </div>
                                <div class="col-md-9 no-padding">
                                    <h2 class="credi-h3-font">
                                        <a href="/hospital/agarwal-eye-hospital-goregaon/overview" itemprop="url" class="credi-lnk-clr"> <span itemprop="name"> Agarwal Eye Hospital, Goregaon </span></a>

                                    </h2>
                                    <div itemprop="description">
                                        Established in 1988, Agarwal Eye Hospital located in Mumbai is a single speciality hospital offering a wide spectrum of advanced medical treatments to its patients. Agarwal Eye Hospital offers stat...
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <br />
                            <div class="col-md-12 no-padding">

                                <div class="col-md-9 no-padding" style="margin-top:10px;">
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_stethescope"></span>
                                        </div>
                                        <div class="col-md-10 no-padding form-group" itemprop="medicalSpecialty" itemscope="" itemtype="https://schema.org/MedicalSpecialty">

                                            <span itemprop="name"> Ophthalmology</span>
                                            ,

                                        </div>
                                    </div>
                                    <div itemprop="Geo" itemscope="" itemtype="https://schema.org/GeoCoordinates" style="display:none;">
                                        <span itemprop="longitude">
                                            72.839241

                                        </span>
                                        <span itemprop="latitude">
                                            19.1629338

                                        </span>

                                    </div>
                                    <div class="col-md-12 no-padding">
                                        <div class="col-md-1 no-padding">
                                            <span class="sprite_injection"></span>
                                        </div>
                                        <div class="col-md-10 no-padding">
                                            Macular Hole Treatment, Squint Surgery, Strabismus Surgery, Eyelid Surgery, Blepharoplasty, LASIK...
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3 form-group no-padding">
                                    <a class="btn credi-bclr" target="_blank" style="margin-bottom: 10px; width: 100%;font-weight: 600;" href="/hospital/agarwal-eye-hospital-goregaon/overview">View Profile</a>
                                    <a class="btn credi-bclr" style="width: 100%;font-weight: 600;" data-remote="true" href="/hospital/agarwal-eye-hospital-goregaon/appointment">Show Contact</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-12 credi-box">
                        <ul class="pagination pagination"><li class="prev disabled"><span>&#8592; Previous</span></li> <li class="active"><span>1</span></li> <li><a rel="next" href="/hospitals/india/all?page=2">2</a></li> <li><a href="/hospitals/india/all?page=3">3</a></li> <li><a href="/hospitals/india/all?page=4">4</a></li> <li><a href="/hospitals/india/all?page=5">5</a></li> <li><a href="/hospitals/india/all?page=6">6</a></li> <li><a href="/hospitals/india/all?page=7">7</a></li> <li><a href="/hospitals/india/all?page=8">8</a></li> <li><a href="/hospitals/india/all?page=9">9</a></li> <li class="disabled"><span>&hellip;</span></li> <li><a href="/hospitals/india/all?page=53">53</a></li> <li><a href="/hospitals/india/all?page=54">54</a></li> <li class="next"><a rel="next" href="/hospitals/india/all?page=2">Next &#8594;</a></li></ul>
                        <div>
                            Matches Found: <b>539</b>
                        </div>
                    </div>

                </div>
                <div class="clearfix">
                </div>
                <div class="breadcrumb-container" style="padding-left: 3%; margin-top: 1%; margin-bottom: 1%;">
                    <h3 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                        <a itemprop="url" href="/"><span itemprop="title">Home</span></a>
                    </h3>

                    <span class="no-margin pull-left">
                        &nbsp;/&nbsp;
                    </span>
                    <h3 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                        <a itemprop="url" href="/hospitals/india/all"><span itemprop='title'>Hospitals</span></a>
                    </h3>
                    <span class="no-margin pull-left">
                        &nbsp;/&nbsp;
                    </span>
                    <h3 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                        <a itemprop="url" href="/hospitals/india/all"><span itemprop='title'>India</span></a>

                    </h3>
                    <span class="no-margin pull-left">
                        &nbsp;/&nbsp;
                    </span>
                    <h3 itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="no-margin pull-left">
                        <a itemprop="url" href="/hospitals/india/all"><span itemprop='title'>All</span></a>

                    </h3>
                </div>
                <div class="clearfix">
                </div>
            </div>

            <div class="col-md-3">
                <iframe height="300" src="https://www.youtube.com/embed/CMqYQV0E5Yw?rel=0&autoplay=0&autohide=0&enablejsapi=1" frameborder="0" allowfullscreen volume="0" title="Credihealth - Medical Assistance Company | Introduction"></iframe>
                <br />
                <br />
                <div class="credi-box" style="padding: 0px; text-align:center">

                    <!-- <div class="active_filter" style="padding:5px;">
                      <h3 style="margin:0px; font-size:20px;">Crediheath<br/> Heart Packages</h3>
                    </div>
                        <div class="credi-box" style="padding:0px; border:0px; border-bottom: 1px solid;">
                          <a href="">
                              <div class="col-md-offset-2 col-md-8" style="margin-top:12px; background-image: url('');  min-height: 110px; background-position: center; background-repeat: no-repeat;">
                              </div>
                              <div class="clearfix"></div>
                              <h4 style="font-size: 18px; color: black; margin:10px;">
                                  , <br/>
                                  <span style="color: #355ca9;">₹ /-</span>
                              </h4>

                          </a>
                        </div>
                       -->
                    <div class="clearfix"></div>
                    <br />
                    <div class="sprite_medical_expert"> </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="text-center  col-md-12" style="font-size: 14px;">
                        <span>
                            Get Free Assistance<br> from  Credihealth<br>
                            Medical Experts
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="text-center  col-md-12">
                        <a class="btn" style="background-color:#355cab;color:#ffffff;" data-remote="true" href="/request_callback">Request Callback</a>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                </div>
                <div class="clearfix"></div>


                <div style="transform: rotate(-90deg); position: fixed; top: 436px; right: -54px; background-color: red; padding: 2px 11px;color: #ffffff; cursor: pointer; font-size: 14px; font-weight: bold" id="toggle_ambulance_float">
                    <img style="width:24px; transform: rotate(90deg);" id="left_pull" src="/assets/left-arrow-white-84c8e1e85153c7286e392db09f306c4663a0382a41b6f7b74c2dc337eb47d403.svg" alt="Left arrow white" />
                    <img style="width:24px; transform: rotate(90deg); display:none;" id="right_pull" src="/assets/right-arrow-white-6fe158f3ff3456ae6943e93a787f0d3158d54fb3b3f2c89812f4728252bd50de.svg" alt="Right arrow white" />&nbsp;
                    Get Ambulance
                </div>

                <div style="width: 180px; position: fixed; top: 380px; right: 0px; background-color: #f9f9f9; box-shadow: 2px 2px 2px #888888; display: none;" id="ambulance_float">
                    <div style="width: 100%;background-color: #ffd700;text-align: center;padding: 5px 0px;position: relative;">
                        <div style="background-color: #ffffff; width: 54px;height: 54px;border-radius: 27px;border: 1px solid #d8d8d8; padding: 5px 0px; margin-left: 63px;">
                            <img style="width:48px;" src="/assets/m-red-ambulance-fb52c2573ba9e513b8d2b102a80086bd2c55db52576bb8ccdbbf185c80c3832b.svg" alt="M red ambulance" />
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                    <div style="width: 100%;text-align: center;font-size: 13px;margin: 10px 0px;">
                        <div> Get Connected to the <br />nearest Ambulance Service</div>
                        <div style="margin: 13px 0px;">
                            <a href="/gurgaon/ambulance">
                                <span style="position: relative;background-color: #355ca9; color: #ffffff;padding: 5px 15px;border: 1px solid #355ca9;border-radius: 15px;">Book Now</span>
                            </a>
                        </div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <script>
$("#toggle_ambulance_float").click(function(){
  $("#ambulance_float").toggle();
  if ($("#ambulance_float").is(":visible") ) {
    $(this).css("right", "118px");
    $("#right_pull").show();
    $("#left_pull").hide();
  }
  else {
    $(this).css("right", "-54px");
    $("#right_pull").hide();
    $("#left_pull").show();
  }
})
                </script>
            </div>
            <div style="clear:both;"></div>
        </div>

      

        <div style="clear:both;"></div>
        <script>
//<![CDATA[

	function filters_path(){
			var href = '/hospitals/india/all';
		other_href = "?true"
		if ($('input[type="checkbox"][name="filter_recommended_hospital"]:checked') != undefined )
		{
			$('input[type="checkbox"][name="filter_recommended_hospital"]:checked').each(function(){
				other_href += "&filter_recommended_hospital[]="+$(this).val();
			})
		}

		if ($('input[type="checkbox"][name="filter_spec"]:checked') != undefined )
		{
			$('input[type="checkbox"][name="filter_spec"]:checked').each(function(){
				other_href += "&filter_spec[]="+$(this).val();
			})
		}

		if ($('input[type="checkbox"][name="filter_city"]:checked') != undefined )
		{
			$('input[type="checkbox"][name="filter_city"]:checked').each(function(){
				other_href += "&filter_city[]="+$(this).val();
			})
		}

		if ($('input[type="checkbox"][name="filter_gender"]:checked') != undefined )
		{
			$('input[type="checkbox"][name="filter_gender"]:checked').each(function(){
				other_href += "&filter_gender[]="+$(this).val();
			})
		}
		return href + other_href
	}
	$(".prevent_click").click(function(e){
		e.preventDefault();
	})

	$('.filter_checkbox').click(function(){
		if ( $(this).find('input[type="checkbox"]').is(":checked") ){
			$(this).find('input[type="checkbox"]').attr("checked", false);
		}
		else{
			$(this).find('input[type="checkbox"]').attr("checked", true);
		}
		href = filters_path()
		window.location.href = href
	})

	function show_input () {
		$("#hosp_head").toggle()
		$("#search_hosp_io").toggle()
	}

//]]>
        </script>
    </div>
    <div class="clearfix"></div>
    <br />
    <!-- Search page only -->




    <!-- End Search page only  -->



  
    <link href="~/Content/css/application.css" rel="stylesheet" />
   
    <link href="~/Content/css/search.css" rel="stylesheet" />

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" async></script>


</body>
</html>

